{include file="public/header" /}
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>

<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>区域管理</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>

    <form method="get" name="formSearch">
        <table class="search-form">
            <tbody>
            <tr>
                <th><label for="area_name">区域名称:</label></th>
                <td>
                    <input type="text" value="{present name='area_name'}{$area_name}{/present}" name="area_name" id="area_name" class="txt">
                </td>
                <th><label for="first_letter">首字母:</label></th>
                <td>
                    <select name='first_letter'>
                        <option value="">{$Think.lang.ds_please_choose}...</option>
                        {volist name="letter" id="l"}
                        <option value='{$l}' {present name="first_letter"}{eq name="first_letter" value="$l"}selected{/eq}{/present}>{$l}</option>
                        {/volist}
                    </select>
                </td>
                <td><a href="javascript:document.formSearch.submit();" class="btn-search tooltip" title="{$Think.lang.ds_query}"></a></td>
            </tr>
            </tbody>
        </table>
    </form>
    <!-- 操作说明 -->
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom">
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示" class="arrow"></span>
        </div>
        <ul>
            <li>商家发布虚拟商品的抢购时，需要选择虚拟抢购所属区域</li>
            <li>显示一级城市名称，可以编辑、删除一级城市，点击查看区域，可以查看该城市下区域列表</li>
            <li>可以按照区域名称、首字母进行查询</li>
        </ul>
    </div>
    
    <form id="list_form" method='post'>
        <input id="area_id" name="area_id" type="hidden" />
        <table class="ds-default-table">
            <thead>
            <tr class="thead">
                <th>区域名称</th>
                <th>首字母</th>
                <th>区号</th>
                <th>邮编</th>
                <th>显示</th>
                <th>添加时间</th>
                <th class="w200 align-center">{$Think.lang.ds_handle}</th>
            </tr>
            </thead>
            <tbody>
            {notempty name="list"}
            {volist name="list" id="val"}
            <tr class="hover edit">
                <td>{$val.area_name}&nbsp;<a class="btn-add-nofloat marginleft" href="{:url('vrgroupbuy/area_add',['area_id'=>$val.area_id])}"><span>新增下级</span></a></td>
                <td>{$val.first_letter}</td>
                <td>{$val.area_number}</td>
                <td>{$val.post}</td>
                <td>
                    {eq name="val.hot_city" value="1"}
                    {$Think.lang.ds_yes}
                    {else /}
                    {$Think.lang.ds_no}
                   {/eq}
                </td>
                <td>{$val.add_time|date="Y-m-d",###}</td>
                <td class='align-center'>
                    <a href="{:url('vrgroupbuy/area_view',['parent_area_id'=>$val.area_id])}">查看区域</a>
                    |
                    <a href="{:url('vrgroupbuy/area_edit',['area_id'=>$val.area_id])}">{$Think.lang.ds_edit}</a>
                    |
                    <a href="javascript:submit_delete({$val.area_id})">{$Think.lang.ds_del}</a>
                </td>
            </tr>
            {/volist}
            {else /}
            <tr class="no_data">
                <td colspan="10">{$Think.lang.ds_no_record}</td>
            </tr>
            {/notempty}
            </tbody>
            {notempty name="list"}
            <tfoot>
            <tr class="tfoot">
                <td id="batchAction" colspan="15">
                    <!--
                    <span class="all_checkbox">
                    <label for="checkall_1">{$Think.lang.ds_select_all}</label>
                    </span>&nbsp;&nbsp; <a href="javascript:void(0)" class="btn" onclick="submit_delete_batch();"><span>{$Think.lang.ds_del}</span></a>
                    -->
                    <div class="pagination">{$show_page}</div>
            </tr>
            </tfoot>
            {/notempty}
        </table>
    </form>

</div>

<script type="text/javascript">
    function submit_delete_batch() {
        /* 获取选中的项 */
        var items = '';
        $('.checkitem:checked').each(function(){
            items += this.value + ',';
        });
        if (items != '') {
            items = items.substr(0, (items.length - 1));
            submit_delete(items);
        } else {
            alert('{$Think.lang.ds_please_select_item}');
        }
    }
    function submit_delete(id) {
        if (confirm('{$Think.lang.ds_ensure_del}')) {
            $('#list_form').attr('method','post');
            $('#list_form').attr('action',"{:url('vrgroupbuy/area_drop')}");
            $('#area_id').val(id);
            $('#list_form').submit();
        }
    }
</script>