{include file="public/header" /}
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>

<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>分类管理</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>

    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom">
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示" class="arrow"></span>
        </div>
        <ul>
            <li>商家发布虚拟商品的抢购时，需要选择虚拟抢购所属分类</li>
            <li>通过修改排序数字可以控制前台线下商城分类的显示顺序，数字越小越靠前</li>
            <li>可以对分类名称进行修改,可以新增下级分类</li>
            <li>可以对分类进行编辑、删除操作</li>
            <li>点击行首的"+"号，可以展开下级分类</li>
        </ul>
    </div>
    
    
    <form method='post' id="list_form">
        <input type="hidden" name="form_submit" value="ok" />
        <input type="hidden" name="submit_type" id="submit_type" value="" />
        <input type="hidden" name="class_id" id="class_id">
        <table class="ds-default-table">
            <thead>
            <tr class="thead">
                <th></th>
                <th>{$Think.lang.ds_sort}</th>
                <th>分类名称</th>
                <th>{$Think.lang.ds_handle}</th>
            </tr>
            </thead>
            <tbody>
            {notempty name="list"}
            {volist name="list" id="val"}
            {eq name="val.parent_class_id" value="0"}
            <tr class="hover edit">
                <td class="w48">
                    <input type="checkbox" value="{$val.class_id}" class="checkitem">
                    <img class="class_parent" class_id="class_id{$val.class_id}" status="open" src="{$Think.config.url_domain_root}static/admin/images/treetable/tv-expandable.gif">
                </td>
                <td class="w48 sort">
                    <span nc_type="inline_edit" ajax_branch="class" column_id="{$val.class_id}" title="{$Think.lang.ds_editable}" class="editable tooltip" fieldid="{$val.class_id}" fieldname="class_sort" >{$val.class_sort}</span>
                </td>
                <td class="name">
                    <span nc_type="inline_edit" ajax_branch="class" column_id="{$val.class_id}" title="{$Think.lang.ds_editable}" class="editable tooltip" fieldname="class_name" fieldid="{$val.class_id}">{$val.class_name}</span>
                    <a class="btn-add-nofloat marginleft" href="{:url('vrgroupbuy/class_add',['parent_class_id'=>$val.class_id])}"><span>新增下级</span></a>
                </td>
                <td>
                    <a href="{:url('vrgroupbuy/class_edit',['class_id'=>$val.class_id])}">{$Think.lang.ds_edit}</a> |
                    <a href="javascript:submit_delete({$val.class_id})">{$Think.lang.ds_del}</a>
                </td>
            </tr>
            {volist name="list" id="vall"}
            {eq name="vall.parent_class_id" value="$val.class_id"}
            <tr class="hover edit class_id{$val.class_id}" style="display:none;">
                <td class="w48"><input type="checkbox" value="{$vall.class_id}" class="checkitem"></td>
                <td class="w48 sort"><span nc_type="inline_edit" ajax_branch="class" column_id="{$vall.class_id}" title="{$Think.lang.ds_editable}" class="editable tooltip" fieldid="{$vall.class_id}" fieldname="class_sort" >{$vall.class_sort}</span></td>
                <td class="name">
                    <span nc_type="inline_edit" ajax_branch="class" column_id="{$vall.class_id}" title="{$Think.lang.ds_editable}" class="editable tooltip" fieldname="class_name" fieldid="{$vall.class_id}">{$vall.class_name}</span></td>
                <td class="w200">
                    <a href="{:url('vrgroupbuy/class_edit',['class_id'=>$vall.class_id])}">{$Think.lang.ds_edit}</a> |
                    <a href="javascript:submit_delete({$vall.class_id})">{$Think.lang.ds_del}</a>
                </td>
            </tr>
            {/eq}
            {/volist}
            {/eq}
            {/volist}
            {else /}
            <tr class="no_data">
                <td colspan="10">{$Think.lang.ds_no_record}</td>
            </tr>
            {/notempty}
            </tbody>
            {notempty name="list"}
            <tfoot>
            <tr class="tfoot">
                <td><input type="checkbox" class="checkall" id="checkall_1"></td>
                <td id="batchAction" colspan="15"><span class="all_checkbox">
            <label for="checkall_1">{$Think.lang.ds_select_all}</label>
            </span>&nbsp;&nbsp; <a href="javascript:void(0)" class="btn" onclick="submit_delete_batch();"><span>{$Think.lang.ds_del}</span></a>
            </tr>
            </tfoot>
            {/notempty}
        </table>
    </form>

</div>
<script type="text/javascript" src="{:config('url_domain_root')}static/plugins/jquery.edit.js" charset="utf-8"></script>
<script type="text/javascript">
    $(function(){
        $(".class_parent").click(function() {
            if ($(this).attr("status") == "open") {
                $(this).attr("status","close");
                $(this).attr("src","{$Think.config.url_domain_root}static/admin/images/treetable/tv-collapsable.gif");
                $("."+$(this).attr("class_id")).show();
            } else {
                $(this).attr("status","open");
                $(this).attr("src","{$Think.config.url_domain_root}static/admin/images/treetable/tv-expandable.gif");
                $("."+$(this).attr("class_id")).hide();
            }
        });

        //行内ajax编辑
        $('span[nc_type="class_sort"]').inline_edit();
        $('span[nc_type="class_name"]').inline_edit();

    });
    function submit_delete_batch(){
        /* 获取选中的项 */
        var items = '';
        $('.checkitem:checked').each(function() {
            items += this.value + ',';
        });
        if (items != '') {
            items = items.substr(0, (items.length - 1));
            submit_delete(items);
        } else {
            alert('{$Think.lang.ds_please_select_item}');
        }
    }
    function submit_delete(id){
        if (confirm('{$Think.lang.ds_ensure_del}')) {
            $('#list_form').attr('method','post');
            $('#list_form').attr('action',"{:url('vrgroupbuy/class_del')}");
            $('#class_id').val(id);
            $('#list_form').submit();
        }
    }

</script>