{include file="public/header" /}
<script src="{$Think.config.url_domain_root}static/common/js/mlselection3.js"></script>
<script src="{$Think.config.url_domain_root}static/home/js/common.js"></script>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>学生管理</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>

    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom">
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示" class="arrow"></span>
        </div>
        <ul>
            <li>系统平台全局设置,包括基础设置、购物、短信、邮件、水印和分销等相关模块。</li>
        </ul>
    </div>


    <form id="user_form" enctype="multipart/form-data" method="post">
        <input type="hidden" name="student_id" value="<?php echo $student_array['s_id'];?>" />
        <table class="ds-default-table">
            <tbody>
            <tr class="noborder">
                <td colspan="2" class="required"><label for="school_region">{$Think.lang.school_index_schoolregion}:</label></td>
            </tr>
            <tr>
                <td id="region">
                    <input type="hidden" value="{$address.city_id}" name="city_id" id="city_id">
                    <input type="hidden" name="area_id" id="area_id" value="{$student_array.s_areaid}" class="area_ids" />
                    <input type="hidden" name="area_info" id="area_info" value="{$student_array.s_region}" class="area_names" />
                    {notempty name="$student_array.s_areaid"}
                    <span>{$student_array.s_region}</span>
                    <input type="button" value="{$Think.lang.ds_edit}" class="edit_region" />
                    <select style="display:none;">
                        <option value="0">请选择分类</option>
                        {volist name="region_list" id="region"}
                        <option value="{$region.area_id}">{$region.area_name}</option>
                        {/volist}
                    </select>
                    {else}
                    <select>
                        <option value="0">请选择分类</option>
                        {volist name="region_list" id="region"}
                        <option value="{$region.area_id}">{$region.area_name}</option>
                        {/volist}
                    </select>
                    {/notempty}

                </td>
            </tr>
            <tr class="noborder">
                <td colspan="2" class="required"><label>{$Think.lang.school_index_checkname}:</label></td>
                <td class="vatop tips"></td>
            </tr>
            <tr class="noborder">
                <td id="school_list">
                    <select name="order_state" class="querySelect">
                        <option value="">{$Think.lang.school_index_chosename}</option>
                        {volist name="schoolList" id="school"}
                        <option value="{$school.schoolid}" {if condition="$student_array.s_schoolid eq $school.schoolid"} selected {/if}>{$school.name}</option>
                        {/volist}
                    </select>
                </td>
                <td class="vatop tips"></td>
            </tr>
            <tr class="noborder">
                <td colspan="2" class="required"><label>{$Think.lang.school_index_checktype}:</label></td>
                <td class="vatop tips"></td>
            </tr>
            <tr class="noborder">
                <td id="type_list">
                    <select name="classtype" class="querySelect" id="school_type">
                        <option value="">{$Think.lang.school_index_chosetype}</option>
                        {volist name="typeInfo" id="type"}
                        <option value="{$type.sc_id}" {if condition="$student_array.s_sctype eq $type.sc_id"} selected {/if} >{$type.sc_type}</option>
                        {/volist}
                    </select>
                </td>
                <td class="vatop tips"></td>
            </tr>
            <tr class="noborder">
                <td colspan="2" class="required"><label>{$Think.lang.school_index_classesname}:</label></td>
                <td class="vatop tips"></td>
            </tr>
            <tr class="noborder">
                <td id="class_list">
                    <select name="class_name" id="class_name" class="querySelect">
                        <option value="">{$Think.lang.school_index_choseclass}</option>
                        {volist name="classInfo" id="class"}
                        <option value="{$class.classid}" {if condition="$student_array.s_classid eq $class.classid"} selected {/if}>{$class.classname}</option>
                        {/volist}
                    </select>
                </td>
                <td class="vatop tips"></td>
            </tr>
            <tr>
                <td colspan="2" class="required"><label for="student_name">{$Think.lang.school_index_studentname}:</label></td>
            </tr>
            <tr class="noborder">
                <td class="vatop rowform"><input type="text" value="{$student_array.s_name}" id="student_name" name="student_name" class="txt"></td>
                <td class="vatop tips"></td>
            </tr>
            <tr>
                <td colspan="2" class="required"><label> {$Think.lang.school_edit_sex}:</label></td>
            </tr>
            <tr class="noborder">
                <td class="vatop rowform">
                    <label>
                        <input type="radio" value="1" {if condition="$student_array.s_sex eq 1"} checked {/if} name="member_sex">{$Think.lang.member_edit_male}
                    </label>
                    <label>
                        <input type="radio" value="2" {if condition="$student_array.s_sex eq 2"} checked {/if} name="member_sex">{$Think.lang.member_edit_female}
                    </label>
                </td>
                <td class="vatop tips"></td>
            </tr>
            <tr>
                <td colspan="2" class="required"><label for="student_birthday">{$Think.lang.school_index_studentbirthday}:</label></td>
            </tr>
            <tr class="noborder">
                <td class="vatop rowform"><input type="text" value="{$student_array.s_birthday}" id="student_birthday" name="student_birthday" class="txt date"></td>
                <td class="vatop tips"></td>
            </tr>
            <tr>
                <td colspan="2" class="required"><label for="student_idcard">{$Think.lang.school_index_studentidcard}:</label></td>
            </tr>
            <tr class="noborder">
                <td class="vatop rowform"><input type="text" value="{$student_array.s_card}" id="student_idcard" name="student_idcard" class="txt"></td>
                <td class="vatop tips"></td>
            </tr>
            <tr>
                <td colspan="2" class="required"><label for="student_desc">{$Think.lang.school_index_desc}:</label></td>
            </tr>
            <tr class="noborder">
                <td class="vatop rowform"><input type="text" value="{$student_array.s_remark}" id="student_desc" name="student_desc" class="txt"></td>
                <td class="vatop tips"></td>
            </tr>

            </tbody>
            <tfoot>
            <tr class="tfoot">
                <td colspan="15"><input class="btn" type="submit" value="{$Think.lang.ds_submit}"/></td>
            </tr>
            </tfoot>
        </table>
    </form>
</div>

<script type="text/javascript">

    $(function(){
        $("#region_choose").click(function() {
            if ($("#user_form").valid()) {
                $("#user_form").submit();
            }
        });
    });
    $(function() {
        //按钮先执行验证再提交表单
        $("#submitBtn").click(function() {
            if ($("#user_form").valid()) {
                $("#user_form").submit();
            }
        });
        $.datepicker.regional["zh-CN"] = { closeText: "关闭", prevText: "&#x3c;上月", nextText: "下月&#x3e;", currentText: "今天", monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"], monthNamesShort: ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二"], dayNames: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"], dayNamesShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"], dayNamesMin: ["日", "一", "二", "三", "四", "五", "六"], weekHeader: "周", dateFormat: "yy-mm-dd", firstDay: 1, isRTL: !1, showMonthAfterYear: !0, yearSuffix: "年" }
        $.datepicker.setDefaults($.datepicker.regional["zh-CN"]);

        $("#activity_start_date").datepicker({dateFormat: 'yy-mm-dd'});
        $("#activity_end_date").datepicker({dateFormat: 'yy-mm-dd'});
        $('#user_form').validate({
            errorPlacement: function(error, element) {
                error.appendTo(element.parent().parent().prev().find('td:first'));
            },
            rules: {
                classunique: {
                    required: true,
                    remote: {
                        url: "{:url('office/student/ajax',['branch'=>'check_unique_code'])}",
                        type: 'get',
                        data: {
                            class_name: function() {
                                return $('#class_name').val();
                            },
                            classunique: function () {
                                return $('#classunique').val();
                            }
                        }
                    }
                },
                school_name: {
                    required: true
                },
                student_name: {
                    required: true
                },
                student_idcard: {
                    required: true,
                    minlength: 15,
                    maxlength: 18,
                    remote: {
                        url: "{:url('office/student/ajax',['branch'=>'check_user_cards'])}",
                        type: 'get',
                        data: {
                            student_idcard: function() {
                                return $('#student_idcard').val();
                            },
                            class_name: function () {
                                return $('#class_name').val();
                            }
                        }
                    }
                },
                school_type: {
                    required: true
                },
                class_name: {
                    required: true
                },
                student_birthday: {
                    required: true
                },
                typeid: {
                    required: true
                }
            },
            messages: {
                school_name: {
                    required: '{$Think.lang.school_add_sname_null}'
                },
                classunique: {
                    required: '{$Think.lang.school_classcard_null}',
                    remote: '{$Think.lang.school_studentcode}'
                },
                student_name: {
                    required: '{$Think.lang.school_add_studentname_null}'
                },
                student_idcard: {
                    required: '{$Think.lang.school_studentcard_null}',
                    maxlength: '{$Think.lang.school_idcard_length}',
                    minlength: '{$Think.lang.school_idcard_length}',
                    remote: '{$Think.lang.class_add_cards_exists}'
                },
                school_type: {
                    required: '{$Think.lang.school_add_type_null}'
                },
                class_name: {
                    required: '{$Think.lang.school_add_class_null}'
                },
                student_birthday: {
                    required: '{$Think.lang.school_birthday_null}'
                },
                typeid: {
                    required: '{$Think.lang.school_add_area_null}'
                }
            }
        });
    });


    $(function(){
        $('#student_birthday').datepicker({dateFormat: 'yy-mm-dd'});
    });

    $(function() {
        regionInit("region");
    });
</script>
