{include file="public/header" /}
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>



<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            {include file="public/admin_items" /}
        </div>
    </div>

    <form method="post" enctype="multipart/form-data" name="form1" action="">
        <table class="ds-default-table">
            <thead>
            <tr class="thead">
                <th class="w272">{$Think.lang.ds_number}</th>
                <th class="w172">{$Think.lang.organize_personnel_name}</th>
                <th class="w272 align-center">{$Think.lang.organize_personnel_account}</th>
                <th class="w272 align-center">{$Think.lang.organize_personnel_role}</th>
                <th class="w172">{$Think.lang.ds_organize_time}</th>
                <th class="w172">{$Think.lang.ds_organize_remark}</th>
            </tr>
            </thead>
            <tbody>
            {notempty name="admin_list"}
            {volist name="admin_list" id="v"}
            <tr class="hover edit">
                <td class="sort">{$key+1}</td>
                <td class="name">{$v.admin_true_name}</td>
                <td class="class">{$v.admin_name}</td>
                <td class="class">{$v.gname}</td>
                <td class="picture"><?php echo $v['admin_login_time'] ? date('Y-m-d H:i:s',$v['admin_login_time']) : lang('admin_index_login_null'); ?></td>
                <td class="align-center">{$v.admin_description}</td>
            </tr>
            {/volist}
            {else /}
            <tr class="no_data">
                <td colspan="10">{$Think.lang.ds_no_record}</td>
            </tr>
            {/notempty}
            </tbody>
            <tfoot>
            {notempty name="organize_list"}
            <tr colspan="15" class="tfoot">
                <td colspan="16">
                    <div class="pagination"> {$page} </div></td>
            </tr>
            {/notempty}
            </tfoot>
        </table>
    </form>

</div>








