{include file="public/header" /}
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>



<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>账号同步</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>
    
    <form method="post">
        <div class="ncap-form-default">
            <dl>
                <dt>{$Think.lang.weixin_isuse}</dt>
                <dd>
                    <div class="onoff">
                        <label for="weixin_isuse_show1" class="cb-enable {if condition="$list_config.weixin_isuse eq 1"}selected{/if}">是</label>
                        <label for="weixin_isuse_show0" class="cb-disable {if condition="$list_config.weixin_isuse eq 0"}selected{/if}">否</label>
                        <input id="weixin_isuse_show1" name="weixin_isuse" value="1" type="radio" {if condition="$list_config.weixin_isuse eq 1"} checked="checked"{/if}>
                        <input id="weixin_isuse_show0" name="weixin_isuse" value="0" type="radio" {if condition="$list_config.weixin_isuse eq 0"} checked="checked"{/if}>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt>{$Think.lang.weixin_appid}</dt>
                <dd>
                    <input type="text" name="weixin_appid" id="weixin_appid" value="{$list_config.weixin_appid}" class="w200"/>
                </dd>
            </dl>
            <dl>
                <dt>{$Think.lang.weixin_secret}</dt>
                <dd>
                    <input type="text" name="weixin_secret" id="weixin_secret" value="{$list_config.weixin_secret}" class="w200"/>
                </dd>
            </dl>
            <dl>
                <dt></dt>
                <dd>
                    <input class="btn" type="submit" value="提交"/>
                </dd>
            </dl>
        </div>
    </form>
</div>