{include file="public/header" /}
<script src="{$Think.config.url_domain_root}static/common/js/mlselection_apply.js"></script>
<script src="{$Think.config.url_domain_root}static/home/js/common.js"></script>
<link rel="stylesheet" href="{$Think.config.url_domain_root}static/plugins/layer/css/layui.css">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>

<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>学校申请审核</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>

    <form method="get" name="formSearch" id="formSearch">
        <table class="search-form">
            <tbody>
               <tr>
                   <td> <label>{$Think.lang.school_name}：</label></td>
                   <td><input type="text" class="text w150" name="schoolname" value="{$Think.get.schoolname}"></td>


                   <td>  <label for="school_region">{$Think.lang.school_index_region}：</label></td>


                   <td id="region">
                        <input type="hidden" value="{$address.city_id}" name="city_id" id="city_id">
                        <input type="hidden" name="area_id" id="area_id" value="{$address.area_id}" class="area_ids" />
                        <input type="hidden" name="area_info" id="area_info" value="{$address.area_info}" class="area_names" />
                        {notempty name="address.area_id"}
                        <span>{$address.area_info}</span>
                        <input type="button" value="{$Think.lang.ds_edit}" class="edit_region" />
                        <select style="display:none;">
                            <option value="0">请选择分类</option>
                            {volist name="region_list" id="region"}
                            <option value="{$region.area_id}">{$region.area_name}</option>
                            {/volist}
                        </select>
                        {else}
                        <select>
                            <option value="0">请选择分类</option>
                            {volist name="region_list" id="region"}
                            <option value="{$region.area_id}">{$region.area_name}</option>
                            {/volist}
                        </select>
                        {/notempty}
                   </td>
                   <td id="school_list">
                       <select name="school_name" >
                           <option value="">{$Think.lang.school_index_allschool}</option>
                           {volist name="allschoolapply" id="all"}
                           <option value="{$all.applyid}" {if condition='$Think.get.school_name eq $all.applyid'}selected='selected'{/if}>{$all.schoolname}</option>
                           {/volist}
                       </select>
                   </td>

                   <!--<td id="type_list">-->
                       <!--<select name="school_type" id="school_type">-->
                           <!--<option value="">{$Think.lang.school_index_type}</option>-->
                           <!--{volist name="schooltype" id="type"}-->
                           <!--<option {if condition='$Think.get.school_type eq $type.sc_id'}selected='selected'{/if} value="{$type.sc_id}">{$type.sc_type}</option>-->
                           <!--{/volist}-->
                       <!--</select>-->
                   <!--</td>-->

                   <!--<td id="class_list">-->
                       <!--<select name="class_name" >-->
                           <!--<option value="">{$Think.lang.school_index_classname}</option>-->
                       <!--</select>-->
                   <!--</td>-->

                   <td><select name="school_status" >
                       <option value="">{$Think.lang.school_index_applystatus}</option>
                       <option value="1" {if condition='$Think.get.school_status eq 1'}selected='selected'{/if}>处理中</option>
                       <option value="2" {if condition='$Think.get.school_status eq 2'}selected='selected'{/if}>已处理</option>
                   </select></td>
                     <td>   <input type="submit" class="submit" value="搜索">
                        <a href="{:url('Schoolapply/index')}" class="btns"><span>{$Think.lang.ds_cancel_search}</span></a>
                        </td>

               </tr>
            </tbody>
        </table>
    </form>
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom">
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示" class="arrow"></span>
        </div>
        <ul>
            <li>系统平台全局设置,包括基础设置、购物、短信、邮件、水印和分销等相关模块。</li>
        </ul>
    </div>
    <?php if(session('admin_is_super') ==1 || in_array('7',$action)){ ?>
    <div style="text-align:right;"><a class="btns layui-btn layui-btn-sm"  href="{:url('schoolapply/excel',['school_status'=>$Think.get.school_status,'school_type'=>$Think.get.school_type,'schoolname'=>$Think.get.schoolname,'school_name'=>$Think.get.school_name,'area_id'=>$Think.get.area_id])}" id="ncexport"><span>{$Think.lang.ds_export}Excel</span></a></div>
    <?php } ?>
    <table class="ds-default-table">
        <thead>
        <tr class="thead">
            <th colspan="align-center">{$Think.lang.school_index_id}</th>
            <th class="align-center">{$Think.lang.school_index_name}</th>
            <th class="align-center">{$Think.lang.school_index_region}</th>
            <th class="align-center">{$Think.lang.school_index_username}</th>
            <th class="align-center">{$Think.lang.school_index_phone}</th>
            <th class="align-center">{$Think.lang.school_index_applycontent}</th>
            <th class="align-center">{$Think.lang.school_index_time}</th>
            <th class="align-center">
                <?php  if(session('admin_is_super') ==1 || in_array('3',$action)){?>{$Think.lang.ds_handle}<?php } ?>
            </th>
            <th class="align-center">{$Think.lang.school_index_applystatus}</th>
            <th class="align-center">{$Think.lang.school_index_applyman}</th>
            <th class="align-center">{$Think.lang.school_index_applytime}</th>
        </tr>
        <tbody>
        <?php if(!empty($schoolapply_list) && is_array($schoolapply_list)){ ?>
        <?php foreach($schoolapply_list as $k => $v){ ?>
        <tr class="hover member">
            <td class="align-center"><?php if(!$_GET['page']){  echo $k+1; }else{ echo ($_GET['page']-1)*15+$k+1; }?></td>
            <td class="align-center"><?php echo $v['schoolname']; ?></td>
            <td class="align-center"><?php echo $v['region']; ?></td>
            <td class="align-center"><?php echo $v['username']; ?></td>
            <td class="align-center"><?php echo $v['phone']; ?></td>
            <td class="align-center"><?php echo $v['message']; ?></td>
            <td class="align-center"><?php echo date("Y-m-d H:i:s",$v['createtime']); ?></td>
            <td class="align-center">
                <?php if(session('admin_is_super') ==1 || in_array('3',$action)){ ?>
                <?php if($v['status']==1){ ?>
                <a href="{:url('/admin/schoolapply/deal',['applyid'=>$v.applyid])}" class="layui-btn layui-btn-xs">{$Think.lang.school_index_applydeal}</a>
                <?php }else{ ?>
                无
                <?php } ?>
                <?php } ?>
            </td>
            <td class="align-center"><?php if($v['status']==1){echo '处理中';}else{echo '已处理';} ?></td>
            <td class="align-center"><?php echo $v['auditor']; ?></td>
            <td class="align-center"><?php echo $v['auditortime']; ?></td>
        </tr>
        <?php } ?>
        <?php }else { ?>
        <tr class="no_data">
            <td colspan="11">{$Think.lang.ds_no_record}</td>
        </tr>
        <?php } ?>
        </tbody>
        <tfoot class="tfoot">
        <?php if(!empty($member_list) && is_array($member_list)){ ?>
        <tr>
            <td class="w24"><input type="checkbox" class="checkall" id="checkallBottom"></td>
            <td colspan="16">
                <label for="checkallBottom">{$Think.lang.ds_select_all}</label>
                &nbsp;&nbsp;<a href="JavaScript:void(0);" class="btn" onclick="if(confirm('{$Think.lang.ds_ensure_del}')){$('#form_member').submit();}"><span>{$Think.lang.ds_del}</span></a>
            </td>
        </tr>
        <?php } ?>
        </tfoot>
    </table>
    {$show_page}
    
</div>
<form class="layui-form" onsubmit="return false;" style="display: none;" id="courForm">
    <input type="hidden" id="role" value="">
    <div  class="ncap-form-default">
        <dl>
            <dt>{$Think.lang.admin_index_username}</dt>
            <dd>
                <input id="admin_name" name="admin_name" value="" class="input-txt" type="text">
                <span class="err"></span>
                <p class="notic">{$Think.lang.admin_add_username_tip}</p>
            </dd>
        </dl>
        <dl>
            <dt>{$Think.lang.admin_index_password}</dt>
            <dd>
                <input id="admin_password" name="admin_password" value="" class="input-txt" type="password">
                <span class="err"></span>
                <p class="notic">{$Think.lang.admin_add_password_tip}</p>
            </dd>
        </dl>
        <dl>
            <dt>{$Think.lang.admin_rpassword}</dt>
            <dd>
                <input id="admin_rpassword" name="admin_rpassword" value="" class="input-txt" type="password">
                <span class="err"></span>
                <p class="notic">{$Think.lang.admin_add_password_tip}</p>
            </dd>
        </dl>
        <input type="hidden" name="gid" value="{$role}">
        <dl>
            <dt></dt>
            <dd><a href="JavaScript:void(0);" class="btn" id="submitBtn">确认提交</a></dd>
        </dl>
    </div>

</form>
<script type="text/javascript">
    function dd(id) {
        var urls=ADMIN_URL+'schoolinfo/index?school_id='+id;
        //多窗口模式，层叠置顶
        layer.open({
            type: 2
            , title: '查看'
            , area: ['80%', '80%']
            , shade: 0
            , maxmin: true
            , content: urls

        });
    }
function jia(role){
            $('#role').val(role);
            //var urls=ADMIN_URL+'organizes/admin?role_id='+id;
            //多窗口模式，层叠置顶
            layer.open({
                type: 1,
                title: '分配管理员账号',
                area: ['700px', '450px'],
                fixed: false, //不固定
                shadeClose: true,
                shade: 0.4,
                maxmin: false, //开启最大化最小化按钮
                content: $("#courForm")
            });
        }
    $(function() {
        regionInit("region");
    });
</script>