{include file="public/header" /}
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>

<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>会员相册</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>

    <form method="get" name="formSearch">
        <input type="hidden" name="id" value="{$id}" />
        <table class="search-form">
            <tbody>
            <tr>
                <th><label for="pic_name">{$Think.lang.snsalbum_pic_name}</label></th>
                <td><input type="text" value="{$Request.get.pic_name}" name="pic_name" id="pic_name" class="txt"></td>
                <td><a href="javascript:document.formSearch.submit();" class="btn-search " title="{$Think.lang.ds_query}"></a></td>
            </tr>
            </tbody>
        </table>
    </form>
    <form method='post' id="form_pic">
        <input type="hidden" name="form_submit" value="ok" />
        <table class="ds-default-table">
            <tbody>
            {notempty name="pic_list"}
            <tr><td colspan="20"><ul class="thumblists">
                {volist name="pic_list" id="val"}
                <li class="picture">
                    <div class="size-64x64">
              <span class="thumb">
                <i></i><img width="64" height="64" class="show_image" src="<?php echo UPLOAD_SITE_URL.DS.ATTACH_MALBUM.DS.$val['member_id'].DS.str_ireplace('.', '_240.', $val['ap_cover']);?>" />
                <span class="type-file-preview" style="display: none;">
                  <img src="<?php echo UPLOAD_SITE_URL.DS.ATTACH_MALBUM.DS.$val['member_id'].DS.str_ireplace('.', '_240.', $val['ap_cover']);?>">
                </span>
              </span>
                    </div>
                    <p>
                        <span><input class="checkitem" type="checkbox" name="id[]" value="{$val.ap_id}" /></span><span><a href="javascript:void(0);" onclick="if(confirm('{$Think.lang.ds_ensure_del}')){location.href='{:url('snsmalbum/del_pic',['id'=>$val.ap_id])}';}else{return false;}">{$Think.lang.ds_del}</a></span>
                    </p>
                </li>
                {/volist}
            </ul>
            </td>
            </tr>
             <tfoot>
            <tr class="tfoot">
                <td class="w48"><input id="checkallBottom" class="checkall" type="checkbox" /></td>
                <td colspan="16">
                    <label for="checkallBottom">{$Think.lang.ds_select_all}</label>
                    <a class="btn" href="javascript:void(0);" onclick="if(confirm('{$Think.lang.ds_ensure_del}')){$('#form_pic').submit();}"><span>{$Think.lang.ds_del}</span></a>
            </tr>
            </tfoot>
            {else}
            <tr class="no_data">
                <td colspan="15">{$Think.lang.ds_no_record}</td>
            </tr>
            {/notempty}
            </tbody>
        </table>
         <div class="pagination">{$showpage} </div></td>
    </form>
</div>