{include file="public/header" /}
<script src="{$Think.config.url_domain_root}static/common/js/mlselection3.js"></script>
<script src="{$Think.config.url_domain_root}static/home/js/common.js"></script>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>课程管理</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>
    
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom">
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示" class="arrow"></span>
        </div>
        <ul>
            <li>系统平台全局设置,包括基础设置、购物、短信、邮件、水印和分销等相关模块。</li>
        </ul>
    </div>


    <form id="user_form" enctype="multipart/form-data" method="post">
        <table class="ds-default-table">
            <tbody>
        <!--<tr class="noborder">-->
            <!--<td colspan="2" class="required"><label for="school_region">{$Think.lang.school_index_schoolregion}:</label></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td id="region">-->
                <!--<input type="hidden" value="{$address.city_id}" name="city_id" id="city_id">-->
                <!--<input type="hidden" name="area_id" id="area_id" value="{$address.area_id}" class="area_ids" />-->
                <!--<input type="hidden" name="area_info" id="area_info" value="{$address.area_info}" class="area_names" />-->
                <!--<select name="typeid" id="typeid">-->
                    <!--<option value="">请选择分类</option>-->
                    <!--{volist name="region_list" id="region"}-->
                    <!--<option value="{$region.area_id}">{$region.area_name}</option>-->
                    <!--{/volist}-->
                <!--</select>-->

            <!--</td>-->
        <!--</tr>-->
        <!--<tr class="noborder">-->
            <!--<td colspan="2" class="required"><label>{$Think.lang.school_index_checkname}:</label></td>-->
            <!--<td class="vatop tips"></td>-->
        <!--</tr>-->
        <!--<tr class="noborder">-->
            <!--<td id="school_list">-->
                <!--<select name="school_name" class="querySelect">-->
                    <!--<option value="">{$Think.lang.school_index_chosename}</option>-->

                <!--</select>-->
            <!--</td>-->
            <!--<td class="vatop tips"></td>-->
        <!--</tr>-->
        <input type="hidden" value="{$schoolid}" name="schoolid" id="schoolid">
        <tr class="noborder">
            <td colspan="2" class="required"><label>{$Think.lang.school_index_checktype}:</label></td>
            <td class="vatop tips"></td>
        </tr>
        <tr class="noborder">
            <td id="type_list">
                <select name="school_type" class="querySelect" id="school_type" onchange="find_classname($(this))">
                    <option value="">{$Think.lang.school_index_chosetype}</option>
                    {volist name="schooltype" id="types"}
                    <option value="{$types.typeid}">{$types.typename}</option>
                    {/volist}
                </select>
            </td>
            <td class="vatop tips"></td>
        </tr>
        <tr class="noborder">
            <td colspan="2" class="required"><label>请选择班级:</label></td>
            <td class="vatop tips"></td>
        </tr>
        <tr class="noborder">
            <td id="class_list">
                <select name="class_name" class="querySelect">
                    <option value="">{$Think.lang.school_index_choseclass}</option>

                </select>
            </td>
            <td class="vatop tips"></td>
        </tr>
        </tbody>
            </table>
        <label><h>周一</h>
            <br>上午：<input type="text" name="mor_txt[]" id="mor_txt1" placeholder="请输入课程名称"/>:
            <input type="text" name="mor_startTime[]" id="mor_startTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入上课时间"/>--<input type="text" name="mor_endTime[]" id="mor_endTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入下课时间"/></label>
        <p>
            <input type="button" value="+" onClick="addTextBox(this.form,this.parentNode); " />
            <input type="button" value="-" onClick="removeTextBox(this.form)" />
        </p>
        <label><br>下午：<input type="text" name="after_txt[]" id="after_txt1" placeholder="请输入课程名称"/>:
            <input type="text" name="after_startTime[]" id="after_startTime1"  onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入上课时间"/>--<input type="text" name="after_endTime[]" id="after_endTime1"  onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入下课时间"/></label>
        <p>
            <input type="button" value="+" onClick="addTextBoxyi(this.form,this.parentNode); " />
            <input type="button" value="-" onClick="removeTextBoxyi(this.form)" />
        </p>
        <label><h>周二</h>
            <br>上午：<input type="text" name="mor_cls[]" id="mor_cls1" placeholder="请输入课程名称"/>: 
            <input type="text" name="mor_cls_startTime[]" id="mor_cls_startTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入上课时间"/>--<input type="text" name="mor_cls_endTime[]" id="mor_cls_endTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入下课时间"/></label>
        <p>
            <input type="button" value="+" onClick="addTextBoxers(this.form,this.parentNode); " />
            <input type="button" value="-" onClick="removeTextBoxers(this.form)" />
        </p>
        <label><br>下午：<input type="text" name="after_cls[]" id="after_cls1" placeholder="请输入课程名称"/>: 
        <input type="text" name="after_cls_startTime[]" id="after_cls_startTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入上课时间"/>&#45;&#45;<input type="text" name="after_cls_endTime[]" id="after_cls_endTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入下课时间"/></label>
        <p>
            <input type="button" value="+" onClick="addTextBoxerx(this.form,this.parentNode); " />
            <input type="button" value="-" onClick="removeTextBoxerx(this.form)" />
        </p>
        <label><h>周三</h>
            <br>上午：<input type="text" name="mor_wes_txt[]" id="mor_wes_txt1" placeholder="请输入课程名称"/>: 
            <input type="text" name="mor_wes_startTime[]" id="mor_wes_startTime" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入上课时间"/>--<input type="text" name="mor_wes_endTime[]" id="mor_wes_endTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入下课时间"/></label>
        <p>
            <input type="button" value="+" onClick="addTextBoxsans(this.form,this.parentNode); " />
            <input type="button" value="-" onClick="removeTextBoxsans(this.form)" />
        </p>
        <label><br>下午：<input type="text" name="after_wes_txt[]" id="after_wes_txt1" placeholder="请输入课程名称"/>: 
        <input type="text" name="after_wes_startTime[]" id="after_wes_startTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入上课时间"/>--<input type="text" name="after_wes_endTime[]" id="after_wes_endTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入下课时间"/></label>
        <p>
            <input type="button" value="+" onClick="addTextBoxsanx(this.form,this.parentNode); " />
            <input type="button" value="-" onClick="removeTextBoxsanx(this.form)" />
        </p>
        <label><h>周四</h>
            <br>上午：<input type="text" name="mor_tus_txt[]" id="mor_tus_txt1" placeholder="请输入课程名称"/>: 
            <input type="text" name="mor_tus_startTime[]" id="mor_tus_startTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入上课时间"/>--<input type="text" name="mor_tus_endTime[]" id="mor_tus_endTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入下课时间"/></label>

        <p>
            <input type="button" value="+" onClick="addTextBoxsis(this.form,this.parentNode); " />
            <input type="button" value="-" onClick="removeTextBoxsis(this.form)" />
        </p>
        <label><br>下午：<input type="text" name="after_tus_txt[]" id="after_tus_txt1" placeholder="请输入课程名称"/>: 
        <input type="text" name="after_tus_startTime[]" id="after_tus_startTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入上课时间"/>--<input type="text" name="after_tus_endTime[]" id="after_tus_endTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入下课时间"/></label>
        <p>
            <input type="button" value="+" onClick="addTextBoxsix(this.form,this.parentNode); " />
            <input type="button" value="-" onClick="removeTextBoxsix(this.form)" />
        </p>
        <label><h>周五</h>
        <br>上午：<input type="text" name="mor_fri_txt[]" id="mor_fri_txt1" placeholder="请输入课程名称"/>: 
        <input type="text" name="mor_fri_startTime[]" id="mor_fri_startTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入上课时间"/>--<input type="text" name="mor_fri_endTime[]" id="mor_fri_endTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入下课时间"/></label>

        <p>
            <input type="button" value="+" onClick="addTextBoxwus(this.form,this.parentNode); " />
            <input type="button" value="-" onClick="removeTextBoxwus(this.form)" />
        </p>
        <label><br>下午：<input type="text" name="after_fri_txt[]" id="after_fri_txt1" placeholder="请输入课程名称"/>: 
        <input type="text" name="after_fri_startTime[]" id="after_fri_startTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入上课时间"/>--<input type="text" name="after_fri_endTime[]" id="after_fri_endTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入下课时间"/></label>
        <p>
            <input type="button" value="+" onClick="addTextBoxwux(this.form,this.parentNode); " />
            <input type="button" value="-" onClick="removeTextBoxwux(this.form)" />
        </p>
        <label><h>周六</h>
            <br>上午：<input type="text" name="mor_fes_txt[]" id="mor_fes_txt1" placeholder="请输入课程名称"/>: 
            <input type="text" name="mor_fes_startTime[]" id="mor_fes_startTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入上课时间"/>--<input type="text" name="mor_fes_endTime[]" id="mor_fes_endTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入下课时间"/></label>

        <p>
            <input type="button" value="+" onClick="addTextBoxlius(this.form,this.parentNode); " />
            <input type="button" value="-" onClick="removeTextBoxlius(this.form)" />
        </p>
        <label><br>下午：<input type="text" name="after_fes_txt[]" id="after_fes_txt1" placeholder="请输入课程名称"/>: 
        <input type="text" name="after_fes_startTime[]" id="after_fes_startTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入上课时间"/>--<input type="text" name="after_fes_endTime[]" id="after_fes_endTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入下课时间"/></label>
        <p>
            <input type="button" value="+" onClick="addTextBoxliux(this.form,this.parentNode); " />
            <input type="button" value="-" onClick="removeTextBoxliux(this.form)" />
        </p>
        <label><h>周日</h>
            <br>上午：<input type="text" name="mor_sun_txt[]" id="mor_sun_txt1" placeholder="请输入课程名称"/>: 
            <input type="text" name="mor_sun_startTime[]" id="mor_sun_startTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入上课时间"/>--<input type="text" name="mor_sun_endTime[]" id="mor_sun_endTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入下课时间"/></label>

        <p>
            <input type="button" value="+" onClick="addTextBoxris(this.form,this.parentNode); " />
            <input type="button" value="-" onClick="removeTextBoxris(this.form)" />
        </p>
        <label><br>下午：<input type="text" name="after_sun_txt[]" id="after_sun_txt1" placeholder="请输入课程名称"/>: 
        <input type="text" name="after_sun_startTime[]" id="arter_startTime" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入上课时间"/>--<input type="text" name="after_sun_endTime[]" id="after_sun_endTime1" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};" placeholder="请输入下课时间"/></label>
        <p>
            <input type="button" value="+" onClick="addTextBoxrix(this.form,this.parentNode); " />
            <input type="button" value="-" onClick="removeTextBoxrix(this.form)" />
        </p>
        <table class="ds-default-table">
            <tbody>

                <tr>
                    <td colspan="2" class="required"><label for="school_desc">{$Think.lang.school_index_desc}:</label></td>
                </tr>
                <tr class="noborder">
                    <td class="vatop rowform"><input type="text" value="" id="desc" name="desc" class="txt"></td>
                    <td class="vatop tips"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="tfoot">
                    <td colspan="15"><input id="submitBtn" class="btn" type="submit" value="{$Think.lang.ds_submit}"/></td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
<script type="text/javascript">
    function find_classname(_sef) {
        var ty_id = $(_sef).val();
        var sc_id = $("#schoolid").val();
        if(ty_id) {
            var url = SITE_URL + 'index.php/Admin/Student/fand_classname';
            $.post(url, {'ty_id': ty_id,'sc_id':sc_id}, function (data) {
                data = $.parseJSON(data);
                var classname_length = data.length;
                var classname_list = data;
                if (data) {
                    var select = '<select name="class_name" id="class_name" class="querySelect"><option value="">请选择班级</option>';
                    if (classname_length > 0) {
                        for (var i = 0; i < classname_length; i++) {
                            select += "<option value='" + classname_list[i].classid + "'>" + classname_list[i].classname + "</option>";
                        }
                    }
                    select += '</select>';
                    $("#class_list").html(select);
                } else {
                    alert(data.message);
                }
            });
        }
    }

    var textNumber = 1;
    function addTextBox(form, afterElement) {
        textNumber++;
        var p = document.createElement("p");
        p.id="txt"+textNumber;
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        //textField.setAttribute("name","mor_txt"+textNumber);
        textField.setAttribute("name","mor_txt[]");
        textField.setAttribute("id","mor_txt"+textNumber);
        textField.setAttribute("placeholder","请输入课程名称");
        label.appendChild(document.createTextNode("上午："));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        //textField.setAttribute("name","mor_startTime"+textNumber);
        textField.setAttribute("name","mor_startTime[]");
        textField.setAttribute("id","mor_startTime"+textNumber);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入上课时间");
        label.appendChild(document.createTextNode(": "));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","mor_endTime[]");
        textField.setAttribute("id","mor_endTime"+textNumber);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入下课时间");
        label.appendChild(document.createTextNode("--"));
        label.appendChild(textField);
        p.appendChild(label);
        form.insertBefore(p,afterElement);
        return false;
    }

    function removeTextBox(form) {
        if (textNumber > 1) { // If there's more than one text box
// Remove the last one added
            form.removeChild(document.getElementById("txt"+textNumber));
            textNumber--;
        }
    }
    
    var textNumbers = 1;
    function addTextBoxyi(form, afterElement) {
        textNumbers++;
        var p = document.createElement("p");
        p.id="txtyi"+textNumbers;
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","after_txt[]");
        textField.setAttribute("id","after_txt"+textNumbers);
        textField.setAttribute("placeholder","请输入课程名称");
        label.appendChild(document.createTextNode("下午："));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","after_startTime[]");
        textField.setAttribute("id","after_startTime"+textNumbers);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入上课时间");
        label.appendChild(document.createTextNode(": "));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","after_endTime[]");
        textField.setAttribute("id","after_endTime"+textNumbers);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入下课时间");
        label.appendChild(document.createTextNode("--"));
        label.appendChild(textField);
        p.appendChild(label);
        form.insertBefore(p,afterElement);
        return false;
    }
    function removeTextBoxyi(form) {
        if (textNumbers > 1) { // If there's more than one text box
// Remove the last one added
            form.removeChild(document.getElementById("txtyi"+textNumbers));
            textNumbers--;
        }
    }
    var textNumberers = 1;
    function addTextBoxers(form, afterElement) {
        textNumberers++;
        var p = document.createElement("p");
        p.id="txters"+textNumberers;
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","mor_cls[]");
        textField.setAttribute("id","mor_cls"+textNumberers);
        textField.setAttribute("placeholder","请输入课程名称");
        label.appendChild(document.createTextNode("上午："));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","mor_cls_startTime[]");
        textField.setAttribute("id","mor_cls_startTime"+textNumberers);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入上课时间");
        label.appendChild(document.createTextNode(": "));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","mor_cls_endTime[]");
        textField.setAttribute("id","mor_cls_endTime"+textNumberers);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入下课时间");
        label.appendChild(document.createTextNode("--"));
        label.appendChild(textField);
        p.appendChild(label);
        form.insertBefore(p,afterElement);
        return false;
    }
    function removeTextBoxers(form) {
        if (textNumberers > 1) { // If there's more than one text box
// Remove the last one added
            form.removeChild(document.getElementById("txters"+textNumberers));
            textNumberers--;
        }
    }
    var textNumbererx = 1;
    function addTextBoxerx(form, afterElement) {
        textNumbererx++;
        var p = document.createElement("p");
        p.id="txterx"+textNumbererx;
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","after_cls[]");
        textField.setAttribute("id","after_cls"+textNumbererx);
        textField.setAttribute("placeholder","请输入课程名称");
        label.appendChild(document.createTextNode("下午："));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","after_cls_startTime[]");
        textField.setAttribute("id","after_cls_startTime"+textNumbererx);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入上课时间");
        label.appendChild(document.createTextNode(": "));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","after_cls_endTime[]");
        textField.setAttribute("id","after_cls_endTime"+textNumbererx);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入下课时间");
        label.appendChild(document.createTextNode("--"));
        label.appendChild(textField);
        p.appendChild(label);
        form.insertBefore(p,afterElement);
        return false;
    }
    function removeTextBoxerx(form) {
        if (textNumbererx > 1) { // If there's more than one text box
// Remove the last one added
            form.removeChild(document.getElementById("txterx"+textNumbererx));
            textNumbererx--;
        }
    }
    var textNumbersans = 1;
    function addTextBoxsans(form, afterElement) {
        textNumbersans++;
        var p = document.createElement("p");
        p.id="txtsans"+textNumbersans;
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","mor_wes_txt[]");
        textField.setAttribute("id","mor_wes_txt"+textNumbersans);
        textField.setAttribute("placeholder","请输入课程名称");
        label.appendChild(document.createTextNode("上午："));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","mor_wes_startTime[]");
        textField.setAttribute("id","mor_wes_startTime"+textNumbersans);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入上课时间");
        label.appendChild(document.createTextNode(": "));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","mor_wes_endTime[]");
        textField.setAttribute("id","mor_wes_endTime"+textNumbersans);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入下课时间");
        label.appendChild(document.createTextNode("--"));
        label.appendChild(textField);
        p.appendChild(label);
        form.insertBefore(p,afterElement);
        return false;
    }
    function removeTextBoxsans(form) {
        if (textNumbersans > 1) { // If there's more than one text box
// Remove the last one added
            form.removeChild(document.getElementById("txtsans"+textNumbersans));
            textNumbersans--;
        }
    }
    var textNumbersanx = 1;
    function addTextBoxsanx(form, afterElement) {
        textNumbersanx++;
        var p = document.createElement("p");
        p.id="txtsanx"+textNumbersanx;
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","after_wes_txt[]");
        textField.setAttribute("id","after_wes_txt"+textNumbersanx);
        textField.setAttribute("placeholder","请输入课程名称");
        label.appendChild(document.createTextNode("下午："));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","after_wes_startTime[]");
        textField.setAttribute("id","after_wes_startTime"+textNumbersanx);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入上课时间");
        label.appendChild(document.createTextNode(": "));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","after_wes_endTime[]");
        textField.setAttribute("id","after_wes_endTime"+textNumbersanx);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入下课时间");
        label.appendChild(document.createTextNode("--"));
        label.appendChild(textField);
        p.appendChild(label);
        form.insertBefore(p,afterElement);
        return false;
    }
    function removeTextBoxsanx(form) {
        if (textNumbersanx > 1) { // If there's more than one text box
// Remove the last one added
            form.removeChild(document.getElementById("txtsanx"+textNumbersanx));
            textNumbersanx--;
        }
    }
    var textNumbersis = 1;
    function addTextBoxsis(form, afterElement) {
        textNumbersis++;
        var p = document.createElement("p");
        p.id="txtsis"+textNumbersis;
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","mor_tus_txt[]");
        textField.setAttribute("id","mor_tus_txt"+textNumbersis);
        textField.setAttribute("placeholder","请输入课程名称");
        label.appendChild(document.createTextNode("上午："));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","mor_tus_startTime[]");
        textField.setAttribute("id","mor_tus_startTime"+textNumbersis);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入上课时间");
        label.appendChild(document.createTextNode(": "));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","mor_tus_endTime[]");
        textField.setAttribute("id","mor_tus_endTime"+textNumbersis);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入下课时间");
        label.appendChild(document.createTextNode("--"));
        label.appendChild(textField);
        p.appendChild(label);
        form.insertBefore(p,afterElement);
        return false;
    }
    function removeTextBoxsis(form) {
        if (textNumbersis > 1) { // If there's more than one text box
// Remove the last one added
            form.removeChild(document.getElementById("txtsis"+textNumbersis));
            textNumbersis--;
        }
    }
    var textNumbersix = 1;
    function addTextBoxsix(form, afterElement) {
        textNumbersix++;
        var p = document.createElement("p");
        p.id="txtsix"+textNumbersix;
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","after_tus_txt[]");
        textField.setAttribute("id","after_tus_txt"+textNumbersix);
        textField.setAttribute("placeholder","请输入课程名称");
        label.appendChild(document.createTextNode("下午："));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","after_tus_startTime[]");
        textField.setAttribute("id","after_tus_startTime"+textNumbersix);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入上课时间");
        label.appendChild(document.createTextNode(": "));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","after_tus_endTime[]");
        textField.setAttribute("id","after_tus_endTime"+textNumbersix);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入下课时间");
        label.appendChild(document.createTextNode("--"));
        label.appendChild(textField);
        p.appendChild(label);
        form.insertBefore(p,afterElement);
        return false;
    }
    function removeTextBoxsix(form) {
        if (textNumbersix > 1) { // If there's more than one text box
// Remove the last one added
            form.removeChild(document.getElementById("txtsix"+textNumbersix));
            textNumbersix--;
        }
    }
    var textNumberwus = 1;
    function addTextBoxwus(form, afterElement) {
        textNumberwus++;
        var p = document.createElement("p");
        p.id="txtwus"+textNumberwus;
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","mor_fri_txt[]");
        textField.setAttribute("id","mor_fri_txt"+textNumberwus);
        textField.setAttribute("placeholder","请输入课程名称");
        label.appendChild(document.createTextNode("上午："));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","mor_fri_startTime[]");
        textField.setAttribute("id","mor_fri_startTime"+textNumberwus);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入上课时间");
        label.appendChild(document.createTextNode(": "));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","mor_fri_endTime[]");
        textField.setAttribute("id","mor_fri_endTime"+textNumberwus);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入下课时间");
        label.appendChild(document.createTextNode("--"));
        label.appendChild(textField);
        p.appendChild(label);
        form.insertBefore(p,afterElement);
        return false;
    }
    function removeTextBoxwus(form) {
        if (textNumberwus > 1) { // If there's more than one text box
// Remove the last one added
            form.removeChild(document.getElementById("txtwus"+textNumberwus));
            textNumberwus--;
        }
    }
    var textNumberwux = 1;
    function addTextBoxwux(form, afterElement) {
        textNumberwux++;
        var p = document.createElement("p");
        p.id="txtwux"+textNumberwux;
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","after_fri_txt[]");
        textField.setAttribute("id","after_fri_txt"+textNumberwux);
        textField.setAttribute("placeholder","请输入课程名称");
        label.appendChild(document.createTextNode("下午："));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","after_fri_startTime[]");
        textField.setAttribute("id","after_fri_startTime"+textNumberwux);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入上课时间");
        label.appendChild(document.createTextNode(": "));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","after_fri_endTime[]");
        textField.setAttribute("id","after_fri_endTime"+textNumberwux);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入下课时间");
        label.appendChild(document.createTextNode("--"));
        label.appendChild(textField);
        p.appendChild(label);
        form.insertBefore(p,afterElement);
        return false;
    }
    function removeTextBoxwux(form) {
        if (textNumberwux > 1) { // If there's more than one text box
// Remove the last one added
            form.removeChild(document.getElementById("txtwux"+textNumberwux));
            textNumberwux--;
        }
    }
    var textNumberlius = 1;
    function addTextBoxlius(form, afterElement) {
        textNumberlius++;
        var p = document.createElement("p");
        p.id="txtlius"+textNumberlius;
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","mor_fes_txt[]");
        textField.setAttribute("id","mor_fes_txt"+textNumberlius);
        textField.setAttribute("placeholder","请输入课程名称");
        label.appendChild(document.createTextNode("上午："));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","mor_fes_startTime[]");
        textField.setAttribute("id","mor_fes_startTime"+textNumberlius);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入上课时间");
        label.appendChild(document.createTextNode(": "));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","mor_fes_endTime[]");
        textField.setAttribute("id","mor_fes_endTime"+textNumberlius);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入下课时间");
        label.appendChild(document.createTextNode("--"));
        label.appendChild(textField);
        p.appendChild(label);
        form.insertBefore(p,afterElement);
        return false;
    }
    function removeTextBoxlius(form) {
        if (textNumberlius > 1) { // If there's more than one text box
// Remove the last one added
            form.removeChild(document.getElementById("txtlius"+textNumberlius));
            textNumberlius--;
        }
    }
    var textNumberliux = 1;
    function addTextBoxliux(form, afterElement) {
        textNumberliux++;
        var p = document.createElement("p");
        p.id="txtliux"+textNumberliux;
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","after_fes_txt[]");
        textField.setAttribute("id","after_fes_txt"+textNumberliux);
        textField.setAttribute("placeholder","请输入课程名称");
        label.appendChild(document.createTextNode("下午："));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","after_fes_startTime[]");
        textField.setAttribute("id","after_fes_startTime"+textNumberliux);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入上课时间");
        label.appendChild(document.createTextNode(": "));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","after_fes_endTime[]");
        textField.setAttribute("id","after_fes_endTime"+textNumberliux);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入下课时间");
        label.appendChild(document.createTextNode("--"));
        label.appendChild(textField);
        p.appendChild(label);
        form.insertBefore(p,afterElement);
        return false;
    }
    function removeTextBoxliux(form) {
        if (textNumberliux > 1) { // If there's more than one text box
// Remove the last one added
            form.removeChild(document.getElementById("txtliux"+textNumberliux));
            textNumberliux--;
        }
    }
    var textNumberris = 1;
    function addTextBoxris(form, afterElement) {
        textNumberris++;
        var p = document.createElement("p");
        p.id="txtris"+textNumberris;
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","mor_sun_txt[]");
        textField.setAttribute("id","mor_sun_txt"+textNumberris);
        textField.setAttribute("placeholder","请输入课程名称");
        label.appendChild(document.createTextNode("上午："));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","mor_sun_startTime[]");
        textField.setAttribute("id","mor_sun_startTime"+textNumberris);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入上课时间");
        label.appendChild(document.createTextNode(": "));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","mor_sun_endTime[]");
        textField.setAttribute("id","mor_sun_endTime"+textNumberris);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入下课时间");
        label.appendChild(document.createTextNode("--"));
        label.appendChild(textField);
        p.appendChild(label);
        form.insertBefore(p,afterElement);
        return false;
    }
    function removeTextBoxris(form) {
        if (textNumberris > 1) { // If there's more than one text box
// Remove the last one added
            form.removeChild(document.getElementById("txtris"+textNumberris));
            textNumberris--;
        }
    }
    var textNumberrix = 1;
    function addTextBoxrix(form, afterElement) {
        textNumberrix++;
        var p = document.createElement("p");
        p.id="txtrix"+textNumberrix;
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","after_sun_txt[]");
        textField.setAttribute("id","after_sun_txt"+textNumberrix);
        textField.setAttribute("placeholder","请输入课程名称");
        label.appendChild(document.createTextNode("下午："));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","after_sun_startTime[]");
        textField.setAttribute("id","after_sun_startTime"+textNumberrix);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入上课时间");
        label.appendChild(document.createTextNode(": "));
        label.appendChild(textField);
        p.appendChild(label);
        var label = document.createElement("label");
        var textField = document.createElement("input");
        textField.setAttribute("type","text");
        textField.setAttribute("name","after_sun_endTime[]");
        textField.setAttribute("id","after_sun_endTime"+textNumberrix);
        textField.setAttribute("onchange","javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00');this.value=''};");
        textField.setAttribute("placeholder","请输入下课时间");
        label.appendChild(document.createTextNode("--"));
        label.appendChild(textField);
        p.appendChild(label);
        form.insertBefore(p,afterElement);
        return false;
    }
    function removeTextBoxrix(form) {
        if (textNumberrix > 1) { // If there's more than one text box
// Remove the last one added
            form.removeChild(document.getElementById("txtrix"+textNumberrix));
            textNumberrix--;
        }
    }
    //-->
    $(function() {
        //按钮先执行验证再提交表单
        $("#submitBtn").click(function() {
            if ($("#user_form").valid()) {
                $("#user_form").submit();
            }
        });
        $.datepicker.regional["zh-CN"] = { closeText: "关闭", prevText: "&#x3c;上月", nextText: "下月&#x3e;", currentText: "今天", monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"], monthNamesShort: ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二"], dayNames: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"], dayNamesShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"], dayNamesMin: ["日", "一", "二", "三", "四", "五", "六"], weekHeader: "周", dateFormat: "yy-mm-dd", firstDay: 1, isRTL: !1, showMonthAfterYear: !0, yearSuffix: "年" }
        $.datepicker.setDefaults($.datepicker.regional["zh-CN"]);

        $("#activity_start_date").datepicker({dateFormat: 'yy-mm-dd'});
        $("#activity_end_date").datepicker({dateFormat: 'yy-mm-dd'});
        $('#user_form').validate({

            errorPlacement: function(error, element) {
                error.appendTo(element.parent().parent().prev().find('td:first'));
            },
            rules: {
                school_type:{
                    required: true
                },
                class_name: {
                    required: true,
                    remote: {
                        url: "{:url('Admin/Coursemanage/ajax',['branch'=>'check_class_name'])}",
                        type: 'get',
                        data: {
                            schoolid: function() {
                                return $('#schoolid').val();
                            },
                            class_name: function () {
                                return $('#class_name').val();
                            }
                        }
                    }
                }
            },
            messages: {
                school_type: {
                    required: '{$Think.lang.school_index_chosetype}'
                },
                class_name: {
                    required: '{$Think.lang.school_index_choseclass}',
                    remote: '{$Think.lang.school_course_class}'
                }
            }
        });
    });

    $(function(){
        $("#region_choose").click(function() {
            if ($("#user_form").valid()) {
                $("#user_form").submit();
            }
        });
    });
    $(function() {
        regionInit("region");
    });
</script>


