{:getChat()}
<script src="{$Think.config.url_domain_root}static/plugins/perfect-scrollbar.min.js"></script>
<link rel="stylesheet" href="{$Think.config.url_domain_root}static/plugins/perfect-scrollbar.min.css">
<div class="footer-info">
    <!--<div class="links w1200">
        <a href="" target="_blank">关于我们</a>|
        <a href="" target="_blank">联系我们</a>|
        <a href="" target="_blank">商家入驻</a>|
        <a href="" target="_blank">营销中心</a>|
        <a href="" target="_blank">手机商城</a>|
        <a href="" target="_blank">友情链接</a>|
        <a href="" target="_blank">销售联盟</a>|
        <a href="" target="_blank">商城社区</a>|
        <a href="" target="_blank">商城公益</a>|
        <a href="" target="_blank">English Site</a>
    </div>-->
    <p class="copyright">Copyright © 2016-2025 想见孩商城 版权所有 保留一切权利 </p>
</div>
<script type="text/javascript" src="{$Think.config.url_domain_root}static/plugins/jquery.lazyload.min.js"></script>
<script>
    //懒加载
    $("img.lazyload").lazyload({
        placeholder : "{$Think.config.url_domain_root}static/home/images/loading.gif",
        effect: "fadeIn",
    });
</script>