<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{$html_title|default=''}</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta name="keywords" content="{$seo_keywords|default=''}" />
        <meta name="description" content="{$seo_description|default=''}" />
        <link rel="stylesheet" href="{$Think.config.url_domain_root}static/home/css/common.css">
        <link rel="stylesheet" href="{$Think.config.url_domain_root}static/home/css/seller.css">
        <link rel="stylesheet" href="{$Think.config.url_domain_root}static/plugins/js/jquery-ui/jquery-ui.min.css">
        <link rel="stylesheet" href="{$Think.config.url_domain_root}static/plugins/font-awesome/css/font-awesome.min.css">
        <script>
            var SITE_URL = "{$Think.config.url_domain_root}";
            var SHOP_TEMPLATES_URL = "{$Think.config.url_domain_root}static/home/"
        </script>
        <script src="{$Think.config.url_domain_root}static/plugins/jquery-2.1.4.min.js"></script>
        <script src="{$Think.config.url_domain_root}static/plugins/js/jquery-ui/jquery-ui.min.js"></script>
        <script src="{$Think.config.url_domain_root}static/plugins/jquery.validate.min.js"></script>
        <script src="{$Think.config.url_domain_root}static/home/js/common.js"></script>
        <script src="{$Think.config.url_domain_root}static/common/js/member.js"></script>
        <script src="{$Think.config.url_domain_root}static/plugins/js/dialog/dialog.js" id="dialog_js" charset="utf-8"></script>
        <script>
            jQuery.browser={};(function(){jQuery.browser.msie=false; jQuery.browser.version=0;if(navigator.userAgent.match(/MSIE ([0-9]+)./)){ jQuery.browser.msie=true;jQuery.browser.version=RegExp.$1;}})();
        </script>
    </head>
    <body>
        <!--showDialog 方法-->
        <div id="append_parent"></div>
        <div id="ajaxwaitid"></div>
        <div class="seller_top">
            <div class="w1200">
                <div class="logo">
                    <a href="{:url('/home/Seller/index')}"><img src="{if $setting_config.seller_center_logo == ''}{$Think.config.url_domain_root}uploads/home/common/seller_center_logo.png{else}{$Think.config.url_domain_root}uploads/home/common/{$setting_config.seller_center_logo}{/if}"/></a>
                </div>
                <div class="navbar">
                    <ul class="fl">
                        {foreach name="seller_menu" item="menu"  key="menu_key"}
                        <li {if $menu_key eq $curmenu}class="actived"{/if}>
                            <a href="{$menu.url}">{$menu.text}</a>
                            <dl>
                                {foreach name="menu.submenu" item="submenu" }
                                <dd><a href="{$submenu.url}">{$submenu.text}</a></dd>
                                {/foreach}
                            </dl>
                        </li>
                        {/foreach}
                    </ul>
                    <ul class="fr">
                        <li><a href="javascript:void(0)">{$Think.session.seller_name}</a></li>
                        <li><a href="{:url('Sellerlogin/logout')}">退出</a></li>
                        <li><a href="{:url('Index/index')}">访问首页</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
