{include file="public/header" /}
<script src="{$Think.config.url_domain_root}static/common/js/mlselection.js"></script>
<script src="{$Think.config.url_domain_root}static/home/js/common.js"></script>
<link rel="stylesheet" href="{$Think.config.url_domain_root}static/plugins/layer/css/layui.css">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>

<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            {include file="public/admin_items" /}
        </div>
    </div>
    <table class="ds-default-table">
        <thead>
        <tr class="thead">
            <th colspan="align-center">{$Think.lang.school_index_id}</th>
            <th class="align-center">{$Think.lang.school_index_order}</th>
            <th class="align-center">{$Think.lang.school_index_sing}</th>
            <th class="align-center">{$Think.lang.school_index_price}</th>
            <th class="align-center">{$Think.lang.school_order_createtime}</th>
            <th class="align-center">{$Think.lang.school_index_desc}</th>
        </tr>
        <tbody>
        <?php if(!empty($lookOrder) && is_array($lookOrder)){ ?>
        <?php foreach($lookOrder as $k => $v){ ?>
        <tr class="hover member">
            <td class="align-center"><?php if(!$_GET['page']){  echo $k+1; }else{ echo ($_GET['page']-1)*10+$k+1; }?></td>
            <td class="align-center"><?php echo $v['order_name']; ?></td>
            <td class="align-center"><?php echo $v['length']; ?></td>
            <td class="align-center"><?php echo $v['order_amount']; ?></td>
            <td class="align-center"><?php echo $v['finnshed_time']; ?></td>
            <td class="align-center"><?php echo $v['order_desc']; ?></td>
        </tr>
        <?php } ?>
        <?php }else { ?>
        <tr class="no_data">
            <td colspan="11">{$Think.lang.ds_no_record}</td>
        </tr>
        <?php } ?>
        </tbody>
        <tfoot class="tfoot">
        <?php if(!empty($member_list) && is_array($member_list)){ ?>
        <tr>
            <td class="w24"><input type="checkbox" class="checkall" id="checkallBottom"></td>
            <td colspan="16">
                <label for="checkallBottom">{$Think.lang.ds_select_all}</label>
                &nbsp;&nbsp;<a href="JavaScript:void(0);" class="btn" onclick="if(confirm('{$Think.lang.ds_ensure_del}')){$('#form_member').submit();}"><span>{$Think.lang.ds_del}</span></a>
            </td>
        </tr>
        <?php } ?>
        </tfoot>
    </table>
    {$page}
    
</div>

<script type="text/javascript">
    $(function() {

         layer.open({
            type: 2
            , title: '学校信息'
            , area: ['80%', '80%']
            , shade: 0
            , maxmin: true
            , content: urls

        });
    });
    function dd(id) {
        var urls=ADMIN_URL+'school/view?school_id='+id;
        //多窗口模式，层叠置顶
//        layer.open({
//            type: 2
//            , title: '学校信息'
//            , area: ['80%', '80%']
//            , shade: 0
//            , maxmin: true
//            , content: urls
//
//        });
        //tab层


    }

    $(function() {
        regionInit("region");
    });
</script>