{include file="public/header" /}
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>



<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>欢迎界面</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>
    
    

<!--     <ul class="info-message">
        {if $version_message}
        <li>{$version_message}</li>
        {/if}
    </ul> -->

    <div class="info-panel">
        <!--<dl class="member">-->
            <!--<dt>-->
            <!--<div class="ico"><i></i><sub title="{$Think.lang.dashboard_wel_total_member}"><span><em id="statistics_member"></em></span></sub></div>-->
            <!--<h3>{$Think.lang.ds_member}</h3>-->
            <!--<h5>{$Think.lang.dashboard_wel_member_des}</h5>-->
            <!--</dt>-->
            <!--<dd>-->
                <!--<ul>-->
                    <!--<li class="w50pre normal lbn"><a href="{:url('Member/member')}">{$Think.lang.dashboard_wel_new_add}<sub><em id="statistics_week_add_member"></em></sub></a></li>-->
                    <!--<li class="w50pre none"><a href="{:url('Predeposit/pdcash_list')}">{$Think.lang.dashboard_wel_predeposit_get}<sub><em id="statistics_cashlist">0</em></sub></a></li>-->
                <!--</ul>-->
            <!--</dd>-->
        <!--</dl>-->
        <!--<dl class="shop">-->
            <!--<dt>-->
            <!--<div class="ico"><i></i><sub title="{$Think.lang.dashboard_wel_count_store_add}"><span><em id="statistics_store"></em></span></sub></div>-->
            <!--<h3>{$Think.lang.ds_store}</h3>-->
            <!--<h5>{$Think.lang.dashboard_wel_store_des}</h5>-->
            <!--</dt>-->
            <!--<dd>-->
                <!--<ul>-->
                    <!--<li class="w20pre none lbn"><a href="{:url('Store/store_joinin')}">开店审核<sub><em id="statistics_store_joinin">0</em></sub></a></li>-->
                    <!--<li class="w20pre none"><a href="{:url('Store/store_bind_class_applay_list',['state'=>0])}">类目申请<sub><em id="statistics_store_bind_class_applay">0</em></sub></a></li>-->
                    <!--<li class="w20pre none"><a href="{:url('Store/reopen_list',['re_state'=>1])}">续签申请<sub><em id="statistics_store_reopen_applay">0</em></sub></a></li>-->
                    <!--<li class="w20pre none"><a href="{:url('Store/store',['store_type'=>'expired'])}">{$Think.lang.dashboard_wel_expired}<sub><em id="statistics_store_expired">0</em></sub></a></li>-->
                    <!--<li class="w20pre none"><a href="{:url('Store/store',['store_type'=>'expire'])}">{$Think.lang.dashboard_wel_expire}<sub><em id="statistics_store_expire">0</em></sub></a></li>-->
                <!--</ul>-->
            <!--</dd>-->
        <!--</dl>-->
        <!--<dl class="goods">-->
            <!--<dt>-->
            <!--<div class="ico"><i></i><sub title="{$Think.lang.dashboard_wel_total_goods}"><span><em id="statistics_goods"></em></span></sub></div>-->
            <!--<h3>{$Think.lang.ds_goods}</h3>-->
            <!--<h5>{$Think.lang.dashboard_wel_goods_des}</h5>-->
            <!--</dt>-->
            <!--<dd>-->
                <!--<ul>-->
                    <!--<li class="w25pre normal lbn"><a href="{:url('Goods/index')}">{$Think.lang.dashboard_wel_new_add}<sub title="{$Think.lang.dashboard_wel_count_goods}"><em id="statistics_week_add_product"></em></sub></a></li>-->
                    <!--<li class="w25pre none"><a href="{:url('Goods/index',['type'=>'waitverify','search_verify'=>10])}">商品审核<sub><em id="statistics_product_verify">0</em></sub></a></li>-->
                    <!--<li class="w25pre none"><a href="{:url('inform/inform_list')}">{$Think.lang.dashboard_wel_inform}<sub><em id="statistics_inform_list">0</em></sub></a></li>-->
                    <!--<li class="w25pre none"><a href="{:url('brand/brand_apply')}">{$Think.lang.dashboard_wel_brnad_applay}<sub><em id="statistics_brand_apply">0</em></sub></a></li>-->
                <!--</ul>-->
            <!--</dd>-->
        <!--</dl>-->
        <!--<dl class="trade">-->
            <!--<dt>-->
            <!--<div class="ico"><i></i><sub title="{$Think.lang.dashboard_wel_total_order}"><span><em id="statistics_order"></em></span></sub></div>-->
            <!--<h3>{$Think.lang.ds_trade}</h3>-->
            <!--<h5>{$Think.lang.dashboard_wel_trade_des}</h5>-->
            <!--</dt>-->
            <!--<dd>-->
                <!--<ul>-->
                    <!--<li class="w18pre none lbn"><a href="{:url('refund/refund_manage')}">退款<sub><em id="statistics_refund"></em></sub></a></li>-->
                    <!--<li class="w18pre none"><a href="{:url('returnmanage/return_manage')}">退货<sub><em id="statistics_return"></em></sub></a></li>-->
                    <!--<li class="w25pre none"><a href="{:url('vrrefund/refund_manage')}">虚拟订单退款<sub><em id="statistics_vr_refund"></em></sub></a></li>-->
                    <!--<li class="w18pre none"><a href="{:url('complain/complain_new_list')}">{$Think.lang.dashboard_wel_complain}<sub><em id="statistics_complain_new_list">0</em></sub></a></li>-->
                    <!--<li class="w20pre none"><a href="{:url('complain/complain_handle_list')}">{$Think.lang.dashboard_wel_complain_handle}<sub><em id="statistics_complain_handle_list">0</em></sub></a></li>-->
                <!--</ul>-->
            <!--</dd>-->
        <!--</dl>-->
        <!--<dl class="operation">-->
            <!--<dt>-->
            <!--<div class="ico"><i></i></div>-->
            <!--<h3>{$Think.lang.ds_operation}</h3>-->
            <!--<h5>{$Think.lang.dashboard_wel_stat_des}</h5>-->
            <!--</dt>-->
            <!--<dd>-->
                <!--<ul>-->
                    <!--<li class="w15pre none lbn"><a href="{:url('groupbuy/index')}">{$Think.lang.dashboard_wel_groupbuy}<sub><em id="statistics_groupbuy_verify_list">0</em></sub></a></li>-->
                    <!--<li class="w17pre none"><a href="{:url('pointorder/pointorder_list',['porderstate'=>'waitship'])}">{$Think.lang.dashboard_wel_point_order}<sub><em id="statistics_points_order">0</em></sub></a></li>-->
                    <!--<li class="w17pre none"><a href="{:url('bill/show_statis',['bill_state'=>'2'])}">{$Think.lang.dashboard_wel_check_billno}<sub><em id="statistics_check_billno">0</em></sub></a></li>-->
                    <!--<li class="w17pre none"><a href="{:url('bill/show_statis',['bill_state'=>'3'])}">{$Think.lang.dashboard_wel_pay_billno}<sub><em id="statistics_pay_billno">0</em></sub></a></li>-->
                    <!--<li class="w17pre none"><a href="{:url('Mallconsult/index')}">平台客服<sub><em id="statistics_mall_consult">0</em></sub></a></li>-->
                    <!--<li class="w17pre none"><a href="{:url('Delivery/index',['sign'=>'verify'])}">服务站<sub><em id="statistics_delivery_point">0</em></sub></a></li>-->
                <!--</ul>-->
            <!--</dd>-->
        <!--</dl>-->

        <?php if (config('cms_isuse') != null) {?>
        <dl class="cms">
            <dt>
            <div class="ico"><i></i></div>
            <h3>CMS</h3>
            <h5>资讯文章/图片画报/会员评论</h5>
            </dt>
            <dd>
                <ul>
                    <li class="w33pre none"><a href="{:url('Cmsarticle/cms_article_list_verify')}">文章审核<sub><em id="statistics_cms_article_verify">0</em></sub></a></li>
                    <li class="w33pre none"><a href="{:url('Cmspicture/cms_picture_list_verify')}">画报审核<sub><em id="statistics_cms_picture_verify">0</em></sub></a></li>
                    <li class="w34pre none"><a href="{:url('Cmscomment/comment_manage')}">评论<sub></sub></a></li>
                </ul>
            </dd>
        </dl>
        <?php }?>
        <?php if (config('circle_isuse') != null) {?>
        <dl class="circle">
            <dt>
            <div class="ico"><i></i></div>
            <h3>圈子</h3>
            <h5>申请开通/圈内话题及举报</h5>
            </dt>
            <dd>
                <ul>
                    <li class="w33pre none"><a href="{:url('Circlemanage/circle_verify')}">圈子申请<sub><em id="statistics_circle_verify">0</em></sub></a></li>
                    <li class="w33pre none"><a href="{:url('Circletheme/theme_list')}">话题</a></li>
                    <li class="w34pre none"><a href="{:url('Circleinform/inform_list')}">举报</a></li>
                </ul>
            </dd>
        </dl>
        <?php }?>
        <?php if (config('microshop_isuse') != null){?>
        <dl class="microshop">
            <dt>
            <div class="ico"><i></i></div>
            <h3>微商城</h3>
            <h5>随心看/个人秀/店铺街</h5>
            </dt>
            <dd>
                <ul>
                    <li class="w33pre none"><a href="{:url('Microshop/goods_manage')}">随心看</a></li>
                    <li class="w33pre none"><a href="{:url('Circletheme/theme_list')}">个人秀</a></li>
                    <li class="w34pre none"><a href="{:url('Circleinform/inform_list')}">店铺街</a></li>
                </ul>
            </dd>
        </dl>
        <?php }?>
        <div class="clear"></div>
    </div>
    <div class="info-system">
        <div class="mt">
            <h3>版本信息</h3>
        </div>
        <div class="mc">
            <table cellpadding="0" cellspacing="0" class="system_table">
                <tbody><tr>
                        <td class="gray_bg">{$Think.lang.dashboard_wel_version}</td>
                        <td>{$statistics['version']}</td>
                        <td class="gray_bg">{$Think.lang.dashboard_wel_install_date}</td>
                        <td>{$statistics['setup_date']}</td>
                    </tr>
                    <tr>
                        <td class="gray_bg">程序开发:</td>
                        <td>想见孩网络科技有限公司</td>
                        <td class="gray_bg">版权所有:</td>
                        <td>盗版必究</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="info-system">
        <div class="mt">
            <h3>系统信息</h3>
        </div>
        <div class="mc">
            <table cellpadding="0" cellspacing="0" class="system_table">
                <tbody>
                    <tr>
                        <td class="gray_bg">ThinkPHP版本号</td>
                        <td><?php echo THINK_VERSION;?></td>
                        <td class="gray_bg">类库文件后缀</td>
                        <td><?php echo EXT;?></td>
                    </tr>
                    <tr>
                        <td class="gray_bg">{$Think.lang.dashboard_wel_server_os}</td>
                        <td>{$statistics['os']}</td>
                        <td class="gray_bg">服务器域名/IP:</td>
                        <td>{$statistics.domain} [ {$statistics.ip} ]</td>
                    </tr>
                    <tr>
                        <td class="gray_bg">WEB {$Think.lang.dashboard_wel_server}</td>
                        <td>{$statistics['web_server']}</td>
                        <td class="gray_bg">PHP {$Think.lang.dashboard_wel_version}</td>
                        <td>{$statistics['php_version']}</td>
                    </tr>
                    <tr>
                        <td class="gray_bg">MYSQL {$Think.lang.dashboard_wel_version}</td>
                        <td>{$statistics['sql_version']}</td>
                        <td class="gray_bg">GD 版本:</td>
                        <td>{$statistics.gdinfo}</td>
                    </tr>
                    <tr>
                        <td class="gray_bg">文件上传限制:</td>
                        <td>{$statistics.fileupload}</td>
                        <td class="gray_bg">最大占用内存:</td>
                        <td>{$statistics.memory_limit}</td>
                    </tr>
                    <tr>
                        <td class="gray_bg">最大执行时间:</td>
                        <td>{$statistics.max_ex_time}</td>
                        <td class="gray_bg">安全模式:</td>
                        <td>{$statistics.safe_mode}</td>
                    </tr>
                    <tr>
                        <td class="gray_bg">Zlib支持:</td>
                        <td>{$statistics.zlib}</td>
                        <td class="gray_bg">Curl支持:</td>
                        <td>{$statistics.curl}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        var normal = ['week_add_member', 'week_add_product'];
        var work = ['store_joinin', 'store_bind_class_applay', 'store_reopen_applay', 'store_expired', 'store_expire', 'brand_apply', 'cashlist', 'groupbuy_verify_list', 'points_order', 'complain_new_list', 'complain_handle_list', 'product_verify', 'inform_list', 'refund', 'return', 'vr_refund', 'cms_article_verify', 'cms_picture_verify', 'circle_verify', 'check_billno', 'pay_billno', 'mall_consult', 'delivery_point', 'offline'];
        $(document).ready(function () {
            $.getJSON("{:url('Dashboard/statistics')}", function (data) {
                $.each(data, function (k, v) {
                    $("#statistics_" + k).html(v);
                    if (v != 0 && $.inArray(k, work) !== -1) {
                        $("#statistics_" + k).parent().parent().parent().removeClass('none').addClass('high');
                    } else if (v == 0 && $.inArray(k, normal) !== -1) {
                        $("#statistics_" + k).parent().parent().parent().removeClass('normal').addClass('none');
                    }
                });
            });
        });
    </script>


</div>