{include file="public/header" /}
<link rel="stylesheet" href="{$Think.config.url_domain_root}static/plugins/layer/css/layui.css">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<!-- 操作说明 -->
<div class="explanation" id="explanation" style="width:100%;box-sizing: border-box;">
    <div class="title" id="checkZoom">
        <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
        <span id="explanationZoom" title="收起提示" class="arrow"></span>
    </div>
    <ul>
        <li>教室位置建议不超过十个字</li>
        <li>教室班级名称请按照学校实际情况填写，若不确定班级名称，可重复，并通知学校修改名称</li>
    </ul>
</div>
<div style="margin-left: 100px;margin-top: 20px;">
    <form class="layui-form">
        <div class="layui-form-item" >
           <a class="layui-btn layui-btn-sm" href="{$Think.config.url_domain_root}static/admin/教室位置模板.xlsx">下载模板</a>
            
        </div>
        <div class="layui-card-body" style="margin-top: 100px;">
            <div class="layui-upload">
                <div class="layui-col-md5">
                    <input name="sxt_name"  placeholder="需要导入的教学楼位置与班级名称" class="layui-input" readonly />
                </div>
                <button type="button" class="layui-btn layui-btn-normal" id="upload-change" >选择导入Excel文件</button>
                <input class="layui-upload-file" accept="undefined" name="file" type="text">
            </div>
        </div>
        <div style="margin-top: 100px;margin-left: 245px;">
            <button type="button" class="layui-btn" id="true" >确认导入</button>
            <button type="button" class="layui-btn layui-layer-close layui-layer-close1" id="del">取消导入</button>
        </div>
    </form>
</div>
<input type="hidden" id="schoolid" value="{$school_id}">
<script type="text/javascript">
    var index = parent.layer.getFrameIndex(window.name);

    layui.use(['upload'],function(){

        var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
            elem: '#upload-change' //绑定元素
            , url: ADMIN_URL + 'Common/PositionRecord.html' //上传接口
            , accept: 'file' //普通文件
            , method: 'POST'
            ,data:{school:function(){return $('#schoolid').val();}}
            , auto: false  //是否自主上传
            , bindAction: '#true'  //确认上传按钮
            , exts: 'xlsx|xls' //只允许上传文件类型
            , size: 0
            ,choose: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                console.log(obj);
                var flag = true;
                obj.preview(function(index, file, result){
                    $('input[name=sxt_name]').val(file.name);
                    return flag;
                });
            }
            , done: function (res) {
                console.log(res);


                //上传完毕回调
                if(res.code == 0){
                    parent.layer.close(index);
                    parent.layer.msg('导入完成');
                    
                }else{
                    parent.layer.msg(res.msg,{icon:2});
                }

            }
            , error: function () {
                //请求异常回调
                parent.layer.closeAll('loading');
                parent.layer.msg('网络异常，请稍后重试！');
            }
        });
    });


    //关闭iframe
    $('#del').click(function(){
        parent.layer.close(index);
    });
</script>