{include file="public/header" /}
<script src="{$Think.config.url_domain_root}static/common/js/mlselection_list.js"></script>
<script src="{$Think.config.url_domain_root}static/home/js/common.js"></script>
<link rel="stylesheet" href="{$Think.config.url_domain_root}static/plugins/layer/css/layui.css">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>

<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>{$Think.lang.import_order}</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>

    <form method="get" name="formSearch" id="formSearch" class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input name="addtime"  autocomplete="off" placeholder="请输入订单编号" value="<?php echo $_GET['addtime'];?>" class="layui-input" type="text">
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <select  lay-filter="province"  class="select"  lay-verify="type" name="province" id="province">
                        <option value="0" selected>{$Think.lang.look_address_province}</option>
                        {volist name="province" id="vo"}
                        <option value="{$vo.area_id}" <?php if($vo['area_id'] == $_GET['province']){echo 'selected';}?> >{$vo.area_name}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="city" lay-filter="city"  class="select"  lay-verify="type"  id="city">
                        <option value="0">{$Think.lang.look_address_city}</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="area" lay-filter="area"  class="select"  lay-verify="type"  id="area">
                        <option value="0">{$Think.lang.look_address_area}</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <select name="school" lay-filter="school"  class="select"  lay-verify="type"  id="school">
                        <option value="0" selected="">{$Think.lang.look_address_school}</option>
                        {volist name="school" id="vo"}
                        <option value="{$vo.schoolid}" <?php if($vo['schoolid'] == $_GET['school']){echo 'selected';}?> >{$vo.name}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="status" lay-filter="status"  class="select"  lay-verify="type"  id="status">
                        <option value="0">选择审核状态</option>
                        <option value="1">等待审核</option>
                        <option value="2">审核成功</option>
                        <option value="2">审核失败</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn" data-type="reload">{$Think.lang.look_camera_search}</button>
            </div>

        </div>
    </form>
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom">
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示" class="arrow"></span>
        </div>
        <ul>
            <li>系统平台全局设置,包括基础设置、购物、短信、邮件、水印和分销等相关模块。</li>
        </ul>
    </div>
    <table class="ds-default-table layui-table">
        <colgroup>
                <col >
                <col >
                <col>
            </colgroup>
            <thead>
            <tr class="thead">
                <th colspan="15">
                    <div class="layui-table-tool-self">
                        <?php if(session('admin_is_super')==1 || in_array('9',$action)){?>
                        <a class="layui-btn layui-btn-sm" href="{$Think.config.url_domain_root}/static/admin/{$Think.lang.offile_packageorder_voucher}.xlsx">{$Think.lang.packageorder_voucher_download}</a>
                        <?php }?>
                        <?php if(session('admin_is_super')==1 || in_array('8',$action)){?>
                        <a class="layui-btn layui-btn-sm " lay-event="getCheckData" id="Import">{$Think.lang.import_offline_order}</a>
                        <?php }?>
                    </div>
                </th>
            </tr>
            </thead>
        <tr class="thead">
            <!--<th>&nbsp;</th>-->
            <th colspan="align-center">排序</th>
            <th class="align-center">订单编号</th>
            <th class="align-center">上传时间</th>
            <th class="align-center">审核状态</th>
            <th class="align-center">审核时间</th>
            <th class="align-center">应交付【欠】</th>
            <th class="align-center">实际交付</th>
            <th class="align-center">最后一次交付</th>
            <th class="align-center">学校</th>
            <th class="align-center">凭证</th>
            <th class="align-center">订单</th>
            <th class="align-center">订单备注</th>
            <th class="align-center">{$Think.lang.ds_handle}</th>
        </tr>
        <tbody>
        <?php if(!empty($list) && is_array($list)){ ?>
        <?php foreach($list as $k => $v){ ?>
        <tr class="hover member" id="od_{$v.id}">
            <!--<td class="align-center"><input type="checkbox" name='del_id[]' value="<?php echo $v['schoolid']; ?>" class="checkitem"></td>-->
            <!-- <td class="align-center"><?php if(!$_GET['page']){  echo $k+1; }else{ echo ($_GET['page']-1)*15+$k+1; }?></td> -->
            <td class="align-center"><?php echo $v['id']; ?></td>
            <th class="align-center"><?php echo $v['addtime']; ?></th>
            <td class="align-center"><?php echo date('Y-m-d H:i:s',$v['addtime']); ?></td>
            <td class="align-center"><?php echo $v['status']==1?'等待审核':($v['status']==2?'审核成功':'审核失败'); ?></td>
            <td class="align-center"><?php echo $v['examinetime']?date('Y-m-d H:i:s',$v['examinetime']):'等待审核'; ?></td>
            <td class="align-center"><?php echo $v['should_price'].'<span style="color: red;">【 '.($v['should_price']-$v['now_price']).' 】</span>'; ?></td>
            <td class="align-center"><?php echo $v['now_price']; ?></td>
            <td class="align-center"><?php echo $v['last_price']; ?></td>
            <td class="align-center"><?php echo $v['name']; ?></td>
            <td class="align-center"><img title='点击查看凭证' src="{$Think.config.url_domain_root}/static/admin/images/pingzheng.png" onclick='checkVoucherfile("<?php echo $v["voucherfile"]; ?>")'></td>
            <td class="align-center"><a href='<?php echo returnVoucherfile($v["updatefile"]); ?>' ><img title='点击查看凭证' width="50" height="40" src="{$Think.config.url_domain_root}/static/admin/images/file.jpg"></a></td>
            <td class="align-center" id="note_{$v.id}"><?php echo $v['note']; ?></td>
            <td class="align-center">
                <?php if($v['status'] == 1){ ?>
                <!-- 审核 -->
                <a href="javascript:checkup({$v.id})" class="layui-btn layui-btn-xs " id="ch_{$v.id}">{$Think.lang.ds_checkup}</a>
                <?php } ?>
                <?php if($v['status'] == 3){ ?>
                <!-- 重新审核 -->
                <a href="javascript:checkup({$v.id})" class="layui-btn layui-btn-xs " id="ch_{$v.id}">重新审核</a>
                <?php } ?>
                <?php if((intval($v['should_price'])-intval($v['now_price']))>0 || $v['is_settle']==1){ ?>
                <!-- 点击删除 -->
                <a href="javascript:settleOrder({$v.id},'<?php echo $v['should_price'].'-'.$v['now_price'].'-'.$v['last_price'];?>')" class="layui-btn layui-btn-xs">{$Think.lang.ds_settle}</a>
                <?php } ?>
               
            </td>
        </tr>
        <?php } ?>
        <?php }else { ?>
        <tr class="no_data">
            <td colspan="11">{$Think.lang.ds_no_record}</td>
        </tr>
        <?php } ?>
        </tbody>
        <tfoot class="tfoot">
        <?php if(!empty($member_list) && is_array($member_list)){ ?>
        <tr>
            <td class="w24"><input type="checkbox" class="checkall" id="checkallBottom"></td>
            <td colspan="16">
                <label for="checkallBottom">{$Think.lang.ds_select_all}</label>
                &nbsp;&nbsp;<a href="JavaScript:void(0);" class="btn" onclick="if(confirm('{$Think.lang.ds_ensure_del}')){$('#form_member').submit();}"><span>{$Think.lang.ds_del}</span></a>
            </td>
        </tr>
        <?php } ?>
        </tfoot>
    </table>
    {$page}
    
</div>
<div style="display: none;" id="checkupdiv">
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">审核备注</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" id="note"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">应付金额￥</label>
        <div class="layui-input-block">
            <input type="text" name="should_price" id="should_price" lay-verify="title" onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')" autocomplete="off" placeholder="请输入总价格" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">已付金额￥</label>
        <div class="layui-input-block">
            <input type="text" name="now_price" id="now_price" lay-verify="title" onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')" autocomplete="off" placeholder="请输入实际支付金额" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">本次交付￥</label>
        <div class="layui-input-block">
            <input type="text" name="last_price" id="last_price" lay-verify="title" onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')" autocomplete="off" placeholder="请输入本次支付的金额" class="layui-input">
        </div>
    </div>
</div>
<script type="text/javascript">
    function settleOrder(id,price){
        var pri = price.split('-');
        $("#should_price").attr({"disabled":"disabled"});
        $("#now_price").attr({"disabled":"disabled"});
        $("#should_price").val(pri[0]);
        $("#now_price").val(pri[1]);
        $("#last_price").val(0);
        layer.open({
          type: 1
          ,title: '结算分成' //不显示标题栏
          ,area: '800px;'
          ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
          ,resize: false
          ,btn: ['结算成功', '取消']
          ,btnAlign: 'c'
          ,content: $('#checkupdiv')
          ,yes: function(){
                toSettleOrder(id,$('#note').val(),{
                    'should_price' :$('#should_price').val(),
                    'now_price' :$('#now_price').val(),
                    'last_price' :$('#last_price').val()
                });
          }
          ,btn2:function(){
            initCheckupdiv()
          }
        });
    }
    function toSettleOrder(id,tex,price){
        $.ajax({
            url: ADMIN_URL+'Vrsorder/toSettleOrder.html',
            type: 'POST',
            dataType: 'json',
            data: {'id':id,'note':tex,'price':price},
        })
        .done(function(res) {
            console.log(res);
            layer.msg(res.msg,{icon:1});
            if (res.code == 0) {
                console.log(id)
                $('#note_'+id).text(tex)
                if (res.status==2){$("#ch_"+id).remove();}
                if (res.status==3){$("#ch_"+id).text('重新审核');}
                
            }
            initCheckupdiv()
            layer.closeAll();
        });
    }

    function checkup(id){
        $("#should_price").removeAttr("disabled");
        $("#now_price").removeAttr("disabled");
        layer.open({
          type: 1
          ,title: '是否通过审核？' //不显示标题栏
          ,area: '800px;'
          ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
          ,resize: false
          ,btn: ['审核成功', '审核失败']
          ,btnAlign: 'c'
          ,content: $('#checkupdiv')
          ,yes: function(){
                tocheckup(id,2,$('#note').val(),{
                    'should_price' :$('#should_price').val(),
                    'now_price' :$('#now_price').val(),
                    'last_price' :$('#last_price').val()
                });
          }
          ,btn2:function(){
                tocheckup(id,3,$('#note').val(),{
                    'should_price' :$('#should_price').val(),
                    'now_price' :$('#now_price').val(),
                    'last_price' :$('#last_price').val()
                });
          }
        });
        
        
    }
    function initCheckupdiv(){
        $("#should_price").val(0);
        $("#now_price").val(0);
        $("#last_price").val(0);
    }

    function tocheckup(id,t,tex,price){
        $.ajax({
            url: ADMIN_URL+'Vrsorder/checkup.html',
            type: 'POST',
            dataType: 'json',
            data: {'id':id,'status': t,'note':tex,'price':price},
        })
        .done(function(res) {
            console.log(res);
            layer.msg(res.msg,{icon:1});
            if (res.code == 0) {
                console.log(id)
                $('#note_'+id).text(tex)
                if (res.status==2){$("#ch_"+id).remove();}
                if (res.status==3){$("#ch_"+id).text('重新审核');}
                
            }
            initCheckupdiv();
            layer.closeAll();
        });
    }

    function checkVoucherfile(imgs){
        var img = imgs.split(',');
        var carousels = '';
        for (var i = 0; i < img.length; i++) {
            carousels+= '<div><img src="<?php echo returnVoucherfile("'+img[i]+'")?>"></div>';
        }
        layer.open({
          type: 1,
          title: '凭证图片',
          area: ['1000px', '510px'],
          closeBtn: 0,
          shadeClose: true,
          skin: 'yourclass',
          content: '<div class="layui-carousel" id="test10">'+
                  '<div carousel-item="">'+carousels+'</div>'+
                '</div>'
        });
        layui.use(['carousel'], function(){
          var carousel = layui.carousel;
          //图片轮播
          carousel.render({
            elem: '#test10'
            ,width: '1000px'
            ,height: '460px'
            ,interval: 5000
          });
        });
    }
    layui.use(['form','laypage', 'layer'], function(){
        var form = layui.form,
            laypage = layui.laypage
            ,layer = layui.layer;
        //关键字搜索
        var name = '<?php if(!empty($_GET["name"])){echo $_GET["name"];}?>';
        //省 市 区
        var province = '<?php if(!empty($_GET["province"])){echo $_GET["province"];}?>';
        var city = '<?php if(!empty($_GET["city"])){echo $_GET["city"];}?>';
        var area = '<?php if(!empty($_GET["area"])){echo $_GET["area"];}?>';
        //学校 年级 班级
        var school = '<?php if(!empty($_GET["school"])){echo $_GET["school"];}?>';
        if(province != 0){
            $.ajax({
                type:'POST',
                url:ADMIN_URL+'Common/get_address_school?province='+province+'&city='+city+'&area='+area+'&school='+school,
                success:function(data){
                    data = jQuery.parseJSON(data);
                    //改变市区
                    $('#city').html(data.city);
                    //改变县区
                    $('#area').html(data.area);
                    //改变学校
                    $('#school').html(data.school);
                    //改变年级
                    form.render('select');//select是固定写法 不是选择器
                }
            })
        }
        //点击省--改变市
        form.on('select(province)', function(data){
            //改变市区
            $('#city').html('<option value="0">{$Think.lang.look_address_city}</option>');
            //改变县区
            $('#area').html('<option value="0">{$Think.lang.look_address_area}</option>');

            $.ajax({
                type:'POST',
                url:ADMIN_URL+'Common/get_address_school?province='+data.value,
                success:function(data){
                    data = jQuery.parseJSON(data);
                    //改变市区
                    $('#city').html(data.city);
                    //改变县区
                    $('#area').html(data.area);
                    //改变学校
                    $('#school').html(data.school);
                    form.render('select');//select是固定写法 不是选择器
                }
            })
        });
        //点击市--改变县区
        form.on('select(city)', function(data){
            //改变县区
            $('#area').html('<option value="0">{$Think.lang.look_address_area}</option>');
            var province = $('#province').find('option:selected').val();
            $.ajax({
                type:'POST',
                url:ADMIN_URL+'Common/get_address_school?province='+province+'&city='+data.value,
                success:function(data){
                    data = jQuery.parseJSON(data);
                    //改变县区
                    $('#area').html(data.area);
                    //改变学校
                    $('#school').html(data.school);
                    form.render('select');//select是固定写法 不是选择器
                }
            })
        });
        //点击县/区--改变学校
        form.on('select(area)', function(data){
            var province = $('#province').find('option:selected').val();
            var city = $('#city').find('option:selected').val();
            $.ajax({
                type:'POST',
                url:ADMIN_URL+'Common/get_address_school?province='+province+'&city='+city+'&area='+data.value,
                success:function(data){
                    data = jQuery.parseJSON(data);
                    //改变学校
                    $('#school').html(data.school);
                    form.render('select');//select是固定写法 不是选择器
                }
            })
        });
    });

    $('#Import').click(function(){
        //页面层
        layer.open({
            type: 2,
            title:'{$Think.lang.import_offline_order}',
            area: ['1000px', '700px'],
            fixed: false, //不固定
            maxmin: false,
            content: ADMIN_URL+'Import/download.html',
        });
    });





</script>