{include file="public/header" /}
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>

<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>类型管理</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>
    <table class="ds-default-table">
        <thead>
            <tr>
                <th>{$Think.lang.type_id}</th>
                <th>{$Think.lang.type_name}</th>
                <th>{$Think.lang.gc_name}</th>
                <?php if(session('admin_is_super') == 1  || in_array(3,$action) || in_array(2,$action)){?>
                <th>{$Think.lang.ds_handle}</th>
                <?php }?>
            </tr>
        </thead>
        <tbody>
            {volist name="type_list" id="type"}
            <tr>
                <td>{$type.type_id}</td>
                <td>{$type.type_name}</td>
                <td>{$type.class_name}</td>
                <?php if(session('admin_is_super') == 1  || in_array(3,$action) || in_array(2,$action)){?>
                <td>
                    <?php if(session('admin_is_super') == 1 || in_array(3,$action)){?>
                        <a href="{:url('/admin/type/type_edit',['type_id'=>$type.type_id])}">{$Think.lang.ds_edit}</a>
                    <?php }?>
                    <?php if(session('admin_is_super') == 1 || in_array(2,$action)){?>
                        <a href="{:url('/admin/type/type_drop',['type_id'=>$type.type_id])}">{$Think.lang.ds_del}</a>
                    <?php }?>
                </td>
                <?php }?>
            </tr>
            {/volist}
        </tbody>
    </table>
    {$page}
</div>
