{include file="public/header" /}
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>



<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>规格管理</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>


    <table class="ds-default-table">
        <thead>
            <tr>
                <th>{$Think.lang.sp_id}</th>
                <th>{$Think.lang.sp_name}</th>
                <th>{$Think.lang.gc_name}</th>
                <?php if(session('admin_is_super') == 1 || in_array(2,$action) || in_array(3,$action)){?>
                    <th>{$Think.lang.ds_handle}</th>
                <?php }?>
            </tr>
        </thead>
        <tbody>
            {volist name="spec_list" id="spec"}
            <tr>
                <td>{$spec.sp_id}</td>
                <td>{$spec.sp_name}</td>
                <td>{$spec.gc_name}</td>
                <?php if(session('admin_is_super') == 1 || in_array(2,$action) || in_array(3,$action)){?>
                <td>
                    <?php if(session('admin_is_super') == 1 || in_array(3,$action)){?>
                    <a href="{:url('/admin/spec/spec_edit',['sp_id'=>$spec.sp_id])}">{$Think.lang.ds_edit}</a>
                    <?php }?>
                    <?php if(session('admin_is_super') == 1 || in_array(2,$action)){?>
                    <a href="{:url('/admin/spec/spec_drop',['sp_id'=>$spec.sp_id])}">{$Think.lang.ds_del}</a>
                    <?php }?>
                </td>
                <?php }?>
            </tr>
            {/volist}
        </tbody>
    </table>
    {$page}
</div>
