{include file="public/header" /}
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>



<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            {include file="public/admin_items" /}
        </div>
    </div>

    <form method="post" enctype="multipart/form-data" name="form1" action="">
        <div class="ncap-form-default">
            <dl>
                <dt>{$Think.lang.school_index_studentname}：{$student_array.s_name}</dt>
            </dl>
            <dl>
                <dt>{$Think.lang.school_edit_sex}：{if condition="$student_array.s_sex eq 1"}
                    男
                    {/if}
                    {if condition="$student_array.s_sex eq 2"}
                    女
                    {/if}</dt>
            </dl>
            <dl>
                <dt>{$Think.lang.school_index_studentbirthday}：{$student_array.s_birthday}</dt>
            </dl>
            <dl>
                <dt>{$Think.lang.school_index_studentidcard}：{$student_array.s_card}</dt>
            </dl>
            <dl>
                <dt>{$Think.lang.school_index_schoolregion}：{$student_array.s_region}</dt>
            </dl>
            <dl>
                <dt>{$Think.lang.school_index_type}：{volist name="schooltype" id="type"}
                    {$type}
                    {/volist}</dt>
            </dl>
            <dl>
                <dt>{$Think.lang.school_index_name}：{$schoolname}</dt>
            </dl>
            <dl>
                <dt>{$Think.lang.school_index_classesname}：{$classname}</dt>
            </dl>
            <dl>
                <dt>{$Think.lang.school_index_desc}：{$student_array.s_remark}</dt>
            </dl>

        </div>
    </form>

</div>








