{include file="public/header" /}
<link rel="stylesheet" href="{$Think.config.url_domain_root}static/plugins/layer/css/layui.css">
<style>
    .layui-form-label{
        width: 200px;
    }
</style>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>



<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>会员管理</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom">
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示" class="arrow"></span>
        </div>
        <ul>
            <li>修改打卡机器人</li>
        </ul>
    </div>

    <form id="user_form" enctype="multipart/form-data" method="post" class="layui-form">
        <input type="hidden" name="form_submit" value="ok" />
        <input type="hidden" name="id" value="<?php echo $robot_array['id'];?>" />
        <div class="ncap-form-default">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">机器人ID：</label>
                    <div class="layui-input-inline">
                        <input type="text" id="SNNumber" name="SNNumber" value="<?php echo $robot_array['SNNumber'];?>" class="layui-input">
                        <span class="err"></span>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">学校所在地区：</label>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <select  lay-filter="province"  class="select"  lay-verify="type" name="province" id="province">
                                <option value="" selected>{$Think.lang.look_address_province}</option>
                                {volist name="region_list" id="vo"}
                                <option value="{$vo.area_id}" <?php if($vo['area_id'] == $robot_array["provinceid"]){echo 'selected';}?>>{$vo.area_name}</option>
                                {/volist}
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select name="city" lay-filter="city"  class="select"  lay-verify="type"  id="city">
                                <option value="">{$Think.lang.look_address_city}</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select name="area" lay-filter="area"  class="select"  lay-verify="type"  id="area">
                                <option value="">{$Think.lang.look_address_area}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">所属学校：</label>
                    <div class="layui-input-inline">
                        <select  lay-filter="school"  class="select"  lay-verify="type" name="school" id="school">
                            <option value="">请选择所属学校</option>
                            {volist name="schoolname" id="vo"}
                            <option value="{$vo.schoolid}" <?php if($vo['schoolid'] == $robot_array["schoolid"]){echo 'selected';}?>>{$vo.name}</option>
                            {/volist}
                        </select>
                        <span class="err"></span>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">备注：</label>
                    <div class="layui-input-inline">
                        <textarea id="desc" name="desc" class="layui-text"><?php echo $robot_array['desc'];?></textarea>
                        <span class="err"></span>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">状态：</label>
                <div class="layui-input-block">
                    <input type="radio" value="1" name="isdel" <?php if($robot_array['isdel'] == 1){ ?>checked="checked"<?php } ?>>使用
                    <input type="radio" value="2" name="isdel" <?php if($robot_array['isdel'] == 2){ ?>checked="checked"<?php } ?>>禁用
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-block">
                    <a href="JavaScript:void(0);" class="btn" id="submitBtn">确认提交</a>
                </div>
            </div>
        </div>
    </form>

<script src="{$Think.config.url_domain_root}static/common/js/mlselection3.js"></script>
<script src="{$Think.config.url_domain_root}static/home/js/common.js"></script>
    <script type="text/javascript">
        layui.use(['form','laypage', 'layer'], function(){
            var form = layui.form,
                laypage = layui.laypage
                ,layer = layui.layer;
            //省 市 区
            var province = '<?php if(!empty($robot_array["provinceid"])){echo $robot_array["provinceid"];}?>';
            var city = '<?php if(!empty($robot_array["cityid"])){echo $robot_array["cityid"];}?>';
            var area = '<?php if(!empty($robot_array["areaid"])){echo $robot_array["areaid"];}?>';
            if(province != 0){
                $.ajax({
                    type:'POST',
                    url:ADMIN_URL+'Common/get_address_school?province='+province+'&city='+city+'&area='+area,
                    success:function(data){
                        data = jQuery.parseJSON(data);
                        //改变市区
                        $('#city').html(data.city);
                        //改变县区
                        $('#area').html(data.area);
                        form.render('select');//select是固定写法 不是选择器
                    }
                })
            }
            //省
            form.on('select(province)', function(data){
                //改变市区
                $('#city').html('<option value="0">{$Think.lang.look_address_city}</option>');
                //改变县区
                $('#area').html('<option value="0">{$Think.lang.look_address_area}</option>');

                $.ajax({
                    type:'POST',
                    url:ADMIN_URL+'Common/get_address_school?province='+data.value,
                    success:function(data){
                        data = jQuery.parseJSON(data);
                        //改变市区
                        $('#city').html(data.city);
                        //改变县区
                        $('#area').html(data.area);
                        //改变学校
                        $('#school').html(data.school);
                        form.render('select');//select是固定写法 不是选择器
                    }
                })
            });
            //市
            form.on('select(city)', function(data){
                //改变县区
                $('#area').html('<option value="0">{$Think.lang.look_address_area}</option>');
                var province = $('#province').find('option:selected').val();
                $.ajax({
                    type:'POST',
                    url:ADMIN_URL+'Common/get_address_school?province='+province+'&city='+data.value,
                    success:function(data){
                        data = jQuery.parseJSON(data);
                        //改变县区
                        $('#area').html(data.area);
                        //改变学校
                        $('#school').html(data.school);
                        form.render('select');//select是固定写法 不是选择器
                    }
                })
            });
            //县/区
            form.on('select(area)', function(data){
                var province = $('#province').find('option:selected').val();
                var city = $('#city').find('option:selected').val();
                $.ajax({
                    type:'POST',
                    url:ADMIN_URL+'Common/get_address_school?province='+province+'&city='+city+'&area='+data.value,
                    success:function(data){
                        data = jQuery.parseJSON(data);
                        //改变学校
                        $('#school').html(data.school);
                        form.render('select');//select是固定写法 不是选择器
                    }
                })
            });
            //学校
            form.on('select(school)', function(data){
                $.ajax({
                    type:'POST',
                    url:ADMIN_URL+'Common/get_school_info2?school='+data.value,
                    success:function(data){
                        data = jQuery.parseJSON(data);
                        form.render('select');//select是固定写法 不是选择器
                    }
                })
            });

        });
        $(function() {
	         regionInit("region");
            $("#submitBtn").click(function() {
                    $("#user_form").submit();
            });
        });
    </script> 
</div>    
