{include file="public/header" /}
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>兑换礼品</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>

    <form method="get" name="formSearch">
       
        <table class="search-form">
            <tbody>
            <tr>
                <th><label for="pg_name">{$Think.lang.admin_pointprod_goods_name}</label></th>
                <td><input type="text" name="pg_name" id="pg_name" class="txt" value='{$Request.get.pg_name}'></td>
                <td><select name="pg_state">
                    <option value="" >{$Think.lang.admin_pointprod_state}</option>
                    <option value="show" {eq name="Request.get.pg_state" value="show"}selected=selected{/eq}>{$Think.lang.admin_pointprod_show_up}</option>
                    <option value="nshow" {eq name="Request.get.pg_state" value="nshow"}selected=selected{/eq}>{$Think.lang.admin_pointprod_show_down}</option>
                    <option value="commend" {eq name="Request.get.pg_state" value="commend"}selected=selected{/eq}>{$Think.lang.admin_pointprod_commend}</option>
                </select></td>
                <td>
                    <a href="javascript:document.formSearch.submit();" class="btn-search " title="{$Think.lang.ds_query}"></a>
                    </td>
            </tr>
            </tbody>
        </table>
    </form>
    
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom">
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示" class="arrow"></span>
        </div>
        <ul>
            <li>{$Think.lang.pointprod_help1}</li>
        </ul>
    </div>
    <form method='post' id="form_prod" action="{:url('pointprod/prod_dropall')}">
        <table class="ds-default-table">
            <thead>
            <tr class="thead">
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>{$Think.lang.admin_pointprod_goods_name}</th>
                <th class="align-center">{$Think.lang.admin_pointprod_goods_points}</th>
                <th class="align-center">{$Think.lang.admin_pointprod_goods_price}</th>
                <th class="align-center">{$Think.lang.admin_pointprod_goods_storage}</th>
                <th class="align-center">{$Think.lang.admin_pointprod_goods_view}</th>
                <th class="align-center">{$Think.lang.admin_pointprod_salenum}</th>
                <th class="align-center">{$Think.lang.admin_pointprod_show_up}</th>
                <th class="align-center">{$Think.lang.admin_pointprod_commend}</th>
                <th class="align-center">{$Think.lang.ds_handle}</th>
            </tr>
            </thead>
            <tbody>
            {notempty name="prod_list"}
            {volist name="prod_list" id="v"}
            <tr class="hover">
                <td class="w24"><input type="checkbox" name="pg_id[]" value="{$v.pgoods_id}" class="checkitem"></td>
                <td class="w48 picture"><div class="size-44x44"><span class="thumb size-44x44"><i></i><img src="{$v.pgoods_image_small}" onload="javascript:DrawImage(this,44,44);"/></span></div></td>
                <td><a href="{:url('home/pointprod/pinfo',['id'=>$v.pgoods_id])}" target="_blank" >{$v.pgoods_name}</a></td>
                <td class="align-center">{$v.pgoods_points}</td>
                <td class="align-center">{$v.pgoods_price}</td>
                <td class="align-center">{$v.pgoods_storage}</td>
                <td class="align-center">{$v.pgoods_view}</td>
                <td class="align-center">{$v.pgoods_salenum}</td>
                <td class="align-center power-onoff">
                    {eq name="v.pgoods_show" value="0"}
                    <a href="JavaScript:void(0);" class=" disabled" ajax_branch='pgoods_show' nc_type="inline_edit" fieldname="pgoods_show" fieldid="{$v.pgoods_id}" fieldvalue="0" title="{$Think.lang.ds_editable}"><img src="{$Think.config.url_domain_root}static/admin/images/treetable/transparent.gif"></a>
                    {else /}
                    <a href="JavaScript:void(0);" class=" enabled" ajax_branch='pgoods_show' nc_type="inline_edit" fieldname="pgoods_show" fieldid="{$v.pgoods_id}" fieldvalue="1" title="{$Think.lang.ds_editable}"><img src="{$Think.config.url_domain_root}static/admin/images/treetable/transparent.gif"></a>
                    {/eq}
                <td class="align-center yes-onoff">
                {eq name="v.pgoods_commend" value="0"}
                    <a href="JavaScript:void(0);" class=" disabled" ajax_branch='pgoods_commend' nc_type="inline_edit" fieldname="pgoods_commend" fieldid="{$v.pgoods_id}" fieldvalue="0" title="{$Think.lang.ds_editable}"><img src="{$Think.config.url_domain_root}static/admin/images/treetable/transparent.gif"></a>
                    {else /}
                    <a href="JavaScript:void(0);" class=" enabled" ajax_branch='pgoods_commend' nc_type="inline_edit" fieldname="pgoods_commend" fieldid="{$v.pgoods_id}" fieldvalue="1" title="{$Think.lang.ds_editable}"><img src="{$Think.config.url_domain_root}static/admin/images/treetable/transparent.gif"></a>
                    {/eq}</td>
                <td class="w72 align-center"><a href="{:url('pointprod/prod_edit',['pg_id'=>$v.pgoods_id])}" class="edit">{$Think.lang.ds_edit}</a> |
                    <a href="javascript:void(0)" onclick="if(confirm('{$Think.lang.ds_ensure_del}')){
                    window.location='{:url('pointprod/prod_drop',['pg_id'=>$v.pgoods_id])}';}
                    else{return false;}">
                    {$Think.lang.ds_del}
                </a></td>
            </tr>
            {/volist}
            {else /}
            <tr class="no_data">
                <td colspan="10">{$Think.lang.ds_no_record}</td>
            </tr>
            {/notempty}
            </tbody>
            <tfoot>
            {notempty name="prod_list"}
            <tr>
                <td><input type="checkbox" class="checkall" id="checkallBottom"></td>
                <td colspan="16" id="dataFuncs"><label for="checkallBottom">{$Think.lang.ds_select_all}</label>
                    &nbsp;&nbsp;<a href="JavaScript:void(0);" class="btn" onclick="submit_form('prod_dropall');"><span>{$Think.lang.ds_del}</span></a>
                    <div class="pagination"> {$show_page} </div></td>
            </tr>
            {/notempty}
            </tfoot>
        </table>
    </form>

</div>
<script type="text/javascript">
    function submit_form(op){
        if(op=='prod_dropall'){
            if(!confirm('{$Think.lang.ds_ensure_del}')){
                return false;
            }
        }
        $('#list_op').val(op);
        $('#form_prod').submit();
    }
</script>