{include file="public/header" /}
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>

<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>操作日志</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>

    <form method="get" name="formSearch" id="formSearch">
        <input type="hidden" name="delago" id="delago" value="">
        <table class="search-form">
            <tbody>
            <tr>
                <th>{$Think.lang.admin_log_man}</th>
                <td><input class="txt" name="admin_name" value="{$Request.get.admin_name}" type="text"></td>
                <th>{$Think.lang.admin_log_dotime}</th>
                <td><input class="txt date" type="text" value="{$Request.get.time_from}" id="time_from" name="time_from">
                    <label for="time_to">~</label>
                    <input class="txt date" type="text" value="{$Request.get.time_to}" id="time_to" name="time_to"/></td>
                <td><a href="javascript:void(0);" class="btn-search " title="{$Think.lang.ds_query}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom">
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示" class="arrow"></span>
        </div>
        <ul>
            <li>{$Think.lang.admin_log_tips2}</li>
        </ul>
    </div>
    
    
    <form method="post" id='form_list' action="{:url('adminlog/list_del')}">
        <input type="hidden" name="form_submit" value="ok" />
        <div style="text-align:right;"><a class="btns" href="{:url('adminlog/export_step1')}"><span>{$Think.lang.ds_export}Excel</span></a></div>
        <table class="ds-default-table">
            <thead>
            <tr class="thead">
                <th></th>
                <th>{$Think.lang.admin_log_man}</th>
                <th>{$Think.lang.admin_log_do}</th>

                <th class="align-center">{$Think.lang.admin_log_dotime}</th>
                <th class="align-center">IP</th>
            </tr>
            </thead>
            <tbody>
            {notempty name="list"}
            {volist name="list" id="v"}
            <tr class="hover">
                <td class="w24">
                    <input name="del_id[]" type="checkbox" class="checkitem" value="{$v.id}">
                </td>
                <td>{$v.admin_name}</td>
                <td>{$v.content}</td>
                <td class="align-center">{$v.createtime|date="Y-m-d H:i:s",###}</td>
                <td class="align-center">{$v.ip}</td>
            </tr>
            {/volist}
            {else}
            <tr class="no_data">
                <td colspan="10">{$Think.lang.ds_no_record}</td>
            </tr>
            {/notempty}
            </tbody>
            <tfoot>
            {notempty name="list"}
            <tr class="tfoot">
                <td><input type="checkbox" class="checkall" id="checkallBottom" name="chkVal"></td>
                <td colspan="16"><label for="checkallBottom">{$Think.lang.ds_select_all}</label>
                    &nbsp;&nbsp;<a href="JavaScript:void(0);" class="btn" onclick="if(confirm('{$Think.lang.ds_ensure_del}')){$('#form_list').submit();}"><span>{$Think.lang.ds_del}</span></a>
                </td>
            </tr>
            {/notempty}
            </tfoot>
        </table>
        {$page}
    </form>

</div>

<script type="text/javascript">
    $(function(){
        $.datepicker.regional["zh-CN"] = { closeText: "关闭", prevText: "&#x3c;上月", nextText: "下月&#x3e;", currentText: "今天", monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"], monthNamesShort: ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二"], dayNames: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"], dayNamesShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"], dayNamesMin: ["日", "一", "二", "三", "四", "五", "六"], weekHeader: "周", dateFormat: "yy-mm-dd", firstDay: 1, isRTL: !1, showMonthAfterYear: !0, yearSuffix: "年" }
        $.datepicker.setDefaults($.datepicker.regional["zh-CN"]);

        $('#time_from').datepicker({dateFormat: 'yy-mm-dd'});
        $('#time_to').datepicker({dateFormat: 'yy-mm-dd'});

        $('.btn-search').click(function(){
            var time_from = $('#time_from').val();
            time_from = new Date(time_from.replace("-", "/").replace("-", "/"));
            var time_to = $('#time_to').val();
            time_to = new Date(time_to.replace("_","/").replace("-","/"));
            if(time_to<time_from){
                alert('开始时间必须要大于结束时间');return false;
            }

            $('#formSearch').submit();
        })
    });
</script>